.nav {
    position: fixed;
    top: 0;
    width: 10rem;
    background-color: #fff;
    line-height: 2.5;
    height: 100vh;
}

.title {
    text-align: center;
    font-size: 1.4rem;
    background-color: #f40;
    color: #fff;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 .5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(255, 68, 0, 0.533);
    color: #fff;
}

.cont {
    margin-left: 10.5rem;
}

p {
    text-indent: 2em;
    text-align: justify;
}

.item {
    min-height: 100vh;
}

h2 {
    position: relative;
    color: #333;
    margin-bottom: .5rem;
}

h2::before {
    content: '';
    width: .4rem;
    height: 1rem;
    margin-right: .6rem;
    background-color: #888;
}

h2::after {
    content: '';
    flex: 1;
    height: 1px;
    margin-left: 1rem;
    background-color: #888;
}

h2:target {
    color: #f40;
}

h2:target::before, h2:target::after {
    background-color: #f40;
}

.img-box {
    display: block;
    float: left;
    width: 9rem;
    margin-right: .8rem;
}

.pre-img {
    display: block;
    width: 100px;
    height: 50px;
    background-image: url(../imgs/1.jpg);
    background-size: cover;
}

.pre-video {
    display: block;
    position: relative;
}

.pre-video:hover::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .2);
}

.pre-video:hover::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../imgs/pre-play.png);
    background-size: cover;
}

.pre-music {
    display: block;
    width: 240px;
    height: 112.5px;
    background-image: url(../imgs/alizee.jpg);
    background-size: contain;
}

@media screen and (max-width:768px) {
    .nav {
        width: 8rem;
    }

    .cont {
        margin-left: 8.5rem;
    }

    .line-dot {
        display: unset;
    }

    .pre-video {
        width: 240px;
        height: 112.5px;
    }

    video {
        height: 100%;
    }
}