.box {
  text-align: center;
  color: rgb(255, 43, 0);
  font-size: 2rem;
  font-weight: 700;
  line-height: 12rem;
  border: 1rem solid rgb(255, 43, 0);
}

.item {
  height: 2rem;
}

.dot {
  flex: 1;
  height: 3px;
  background-image: url(../imgs/dot.png);
  background-repeat: repeat-x;
}

ol {
  padding-left: 1rem;
}

.warn {
  color: #a52a2a;
  font-weight: 700;
}

.demo {
  height: 7rem;
}

ul, li {
  margin: 0;
  padding: 0;
}

ul li {
  text-transform: capitalize;
}

.nav {
  display: flex;
}

.nav>li:hover {
  background-color: #f40;
}

.nav>li {
  margin: 0 1rem;
}

.item1~li {
  color: #078;
}

.item3+.item4 {
  color: #4f0;
}

.sub-nav li:nth-child(2) {
  text-decoration: underline;
}

.sub-nav>li:hover {
  text-shadow: 0 0 .4rem rgb(255, 68, 0);
}