@import url(//at.alicdn.com/t/c/font_3859342_qxi2kw5n6cg.css);

:root {
  --main-color: #ff5d73;
  --warn-color: #eb2f06;
  --bar-bg-color: #4bc2ce;
  --main-color-purple: #be01fe;
  --main-color-blue: #4bc2ce;
  --main-color-dark-blue: #1b9fab;
  --main-color-yellow: #f1c40f;
  --main-color-orange: rgba(242, 94, 68, 0.4);
  --main-color-orange-light: rgba(242, 94, 68, 0.1);
  --tips-color: rgba(46, 213, 115, 0.2);
  --tips-bold-color: rgb(46, 213, 115);
  --tips-warn-color: rgba(255, 93, 115, 0.2);
  --tips-warn-bold-color: rgb(255, 93, 115);
  --w-width: 1024px;
  --chap-h: 10vh;
  --padding: 1rem;
}

body,
dl,
dd,
div,
header,
a,
p,
h1,
table,
td,
tr,
ul,
li,
figure,
figcaption,
nav,
pre,
details,
summary {
  margin: 0;
  padding: 0;
  font-weight: normal;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: #eee;
  font-size: 62.5%;
}

body {
  max-width: var(--w-width);
  margin: 0 auto;
  background-color: #fff;
  font-size: 1.6rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#fff, var(--warn-color));
  border-radius: 4px;
}

header {
  --color: #ff7b00;
  --color-dark: #f25e44;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 20vh;
  color: #fff;
  padding: var(--padding);
  background: linear-gradient(315deg, var(--color) 25%, var(--color-dark));
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200%;
  height: 6px;
  background-image: linear-gradient(to right, #ff0 0%, var(--color) 50%, #ff0 100%);
  animation: roll 4s linear infinite alternate;
}

@keyframes roll {
  to {
    transform: translateX(-50%);
  }
}

details {
  padding: var(--padding);
}

summary {
  cursor: pointer;
}

summary:hover {
  color: var(--main-color);
}

h1 {
  font-size: 1.8rem;
}

a {
  color: var(--main-color);
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.chap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.8rem;
  height: var(--chap-h);
  padding: var(--padding);
  color: #fff;
  background-color: var(--bar-bg-color);
  text-transform: capitalize;
}

dl {
  padding: 1rem;
  line-height: 2;
}

dt {
  font-weight: 600;
  line-height: 3;
  margin-top: 3rem;
}

dt:has(.iconfont) {
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 1rem;
}

pre {
  color: #f7f7f7;
  padding: 1rem;
  font-size: 14px;
  background-color: #333;
  border-radius: 6px;
  overflow: auto;
  margin: 1rem auto;
}

pre span::before {
  content: counter(sn, decimal-leading-zero)'    ';
  counter-increment: sn;
}


.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-justify {
  text-align: justify;
}

.txt-indent {
  text-indent: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: 1px solid var(--main-color-orange);
  border-bottom: 1px solid var(--main-color-orange);
  margin: calc(4*var(--padding)) auto;
}

th {
  font-weight: normal;
  text-align: left;
  /* border-bottom: 1px solid var(--bar-bg-color); */
}

th,
td {
  padding-left: .5rem;
  padding-right: .5rem;
}

tr:has(th) {
  background-color: var(--main-color-orange);
}

tr:nth-child(even) {
  background-color: var(--main-color-orange-light)
}

.grid,
.grid2,
.grid3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: var(--padding);
  margin: 2rem auto;
}

.tips {
  position: relative;
  background-color: var(--tips-color);
  padding: var(--padding);
  border-left: 4px solid var(--tips-bold-color);
  margin: 2rem auto;
}

.question {
  position: relative;
  background-color: var(--tips-warn-color);
  padding: var(--padding);
  border-left: 4px solid var(--tips-warn-bold-color);
  margin: 2rem auto;
}

.warn {
  color: var(--warn-color);
}

.iconfont {
  color: var(--warn-color);
  vertical-align: middle;
}

/* sn start*/

body {
  counter-reset: tbl-sn img-sn exam-sn;
}

/* table */
table {
  counter-increment: tbl-sn;
}

table caption {
  font-size: 1.4rem;
}

table caption::before {
  content: '表' counter(tbl-sn)' ';
}

/* figure */
figure {
  margin: calc(4*var(--padding)) auto;
  counter-increment: img-sn;
}

figure figcaption {
  text-align: center;
  font-size: 1.4rem;
}

figure figcaption::before {
  content: '图' counter(img-sn)' ';
}

.sn {
  counter-reset: list-sn;
}

.sn>div {
  counter-increment: list-sn;
}

.sn>div::before {
  content: counter(list-sn)'. ';
}

.example-sn {
  counter-increment: exam-sn;
  margin-top: 2rem;
}

.example-sn::before {
  content: '[例' counter(exam-sn)'] ';
}

/* sn end */

iframe {
  display: block;
  width: 100%;
  margin-top: 2rem;
}

.quote {
  position: relative;
  background-color: var(--warn-color);
  color: #fff;
  margin: 20px 0 20px 20px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
}

.quote::before {
  content: '';
  position: absolute;
  left: -20px;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: var(--warn-color);
}

.quote::after {
  content: '';
  position: absolute;
  left: -26px;
  top: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--warn-color);
}

.quote .iconfont {
  color: #fff;
  font-size: 2rem;
}

.quote a {
  color: var(--main-color-yellow);
}

@media screen and (max-width:768px) {
  th {
    display: none;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

}