.wrap {
  height: 100vh;
  perspective: 1000px;
}

.cube {
  width: 12rem;
  height: 12rem;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: roll 20s infinite linear;
  transform: rotateX(-30deg) rotateY(-70deg);
}

@keyframes roll {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube>div {
  transition: 0.4s ease-in;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cube .out-front, .cube .out-back, .cube .out-left, .cube .out-right, .cube .out-top, .cube .out-bottom {
  width: 100%;
  height: 100%;
  background: #f40;
  color: #fff;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
  transform-style: preserve-3d;
  transform-origin: center;
}

.cube .out-front {
  background-image: url(../imgs/1.jpg);
  transform: translateZ(6rem);
}

.cube .out-back {
  background-image: url(../imgs/2.jpg);
  transform: translateZ(-6rem) rotateY(180deg);
}

.cube .out-left {
  background-image: url(../imgs/3.jpg);
  transform: translateX(-6rem) rotateY(-90deg);
}

.cube .out-right {
  background-image: url(../imgs/4.jpg);
  transform: translateX(6rem) rotateY(90deg);
}

.cube .out-top {
  background-image: url(../imgs/5.jpg);
  transform: translateY(-6rem) rotateX(90deg);
}

.cube .out-bottom {
  background-image: url(../imgs/6.jpg);
  transform: translateY(6rem) rotateX(-90deg);
}

.cube:hover .out-front {
  transform: translateZ(10rem);
}

.cube:hover .out-back {
  transform: translateZ(-10rem) rotateY(180deg);
}

.cube:hover .out-left {
  transform: translateX(-10rem) rotateY(-90deg);
}

.cube:hover .out-right {
  transform: translateX(10rem) rotateY(90deg);
}

.cube:hover .out-top {
  transform: translateY(-10rem) rotateX(90deg);
}

.cube:hover .out-bottom {
  transform: translateY(10rem) rotateX(-90deg);
}

.cube .inner-front, .cube .inner-back, .cube .inner-left, .cube .inner-right, .cube .inner-top, .cube .inner-bottom {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  position: absolute;
  top: 3rem;
  left: 3rem;
  transform-style: preserve-3d;
  transform-origin: center;
  /* border: 1px solid #f40; */
}

.cube .inner-front {
  transform: translateZ(3rem);
}

.cube .inner-back {
  transform: translateZ(-3rem) rotateY(180deg);
}

.cube .inner-left {
  transform: translateX(-3rem) rotateY(-90deg);
}

.cube .inner-right {
  transform: translateX(3rem) rotateY(90deg);
}

.cube .inner-top {
  transform: translateY(-3rem) rotateX(90deg);
}

.cube .inner-bottom {
  transform: translateY(3rem) rotateX(-90deg);
}

img {
  pointer-events: none;
}

@media screen and (max-width:768px) {}