nav {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 1rem;
}

.img-box {
  text-align: center;
  height: 270px;
  line-height: 270px;
  background-size: cover;
  background-color: #f3f3f3;
}

.img-box img {
  margin: 0.2rem;
  width: 60px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #fff;
  vertical-align: middle;
}

/* nav */
.base a {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.active {
  background-color: #ddd;
}

.cont {
  min-height: 10rem;
}

.count-box {
  text-align: center;
  font-size: 1.4rem;
}

.show-box {
  width: 400px;
  max-width: 100%;
  margin: 2rem auto;
}

.show-box input,
.msg-box input {
  font-family: inherit;
  font-size: inherit;
  padding: 0 1rem;
  height: 30px;
}

.count-box .flex-h {
  font-size: 1rem;
}

.flex-h label:nth-child(3) {
  margin-right: auto;
}

.msg-box {
  display: flex;
}

.msg-box input[type='text'] {
  flex-grow: 1;
  border: none;
  border-bottom: 1px solid #27ae60;
}

.msg-box input[type='button'] {
  flex-basis: 120px;
  background-color: #27ae60;
  color: #fff;
  cursor: pointer;
}

.msg-list {
  height: 100px;
  margin-top: 1rem;
  overflow-y: auto;
}

.msg-list li {
  padding-left: 1rem;
  color: #333;
}

.msg-list li:nth-child(odd) {
  background-color: rgba(39, 174, 96, 0.1);
}