.img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

hr {
  margin: 1rem 0;
}

#file {
  display: none;
}

#btn {
  border: none;
  outline: none;
  height: 30px;
  border-radius: .4rem;
  font-size: 1.2rem;
  background-image: linear-gradient(45deg, #f40, #f4f);
  color: #fff;
}

#zone {
  width: 400px;
  height: 300px;
  background-color: #fff;
}

#tbl {
  border-collapse: collapse;
}

#tbl th, #tbl td {
  padding: 2px 4px;
  border: 1px solid #888;
}