.cont .red {
  width: 6rem;
  height: 6rem;
  background-color: #f40;
  float: left;
}

.cont .yellow {
  background-color: #ff0;
  height: 6rem;
}

.cont .blue {
  width: 6rem;
  height: 6rem;
  background-color: #079;
  float: right;
}

img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.float {
  float: left;
}

.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  margin-right: 1rem;
}

.cap {
  position: relative;
}

.cap::first-letter {
  float: left;
  color: #f40;
  font-size: 2rem;
  margin-right: 1rem;
}

.float-effect {
  width: 12rem;
  height: 12rem;
  float: left;
  border-radius: 50%;
  shape-outside: circle();
  margin-right: 1rem;
}