@font-face {
  font-family: 'Quicksand';
  src: url(../utils/font/Quicksand/Quicksand-Regular.ttf);

}

@font-face {
  font-family: 'Quicksand';
  src: url(../utils/font/Quicksand/Quicksand-Bold.ttf);
  font-weight: 600;
}