@font-face {
  font-family: 'Poppins';
  src: url(../utils/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins';
  src: url(../utils/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 600;
}