@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand/Quicksand-Regular.ttf) format('ttf');

}

@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand/Quicksand-Bold.ttf) format('ttf');
  font-weight: 600;
}