@font-face {
  font-family: 'Quicksand';
  src: url(../utils/fonts/Quicksand/Quicksand-Regular.ttf);

}

@font-face {
  font-family: 'Quicksand';
  src: url(../utils/fonts/Quicksand/Quicksand-Bold.ttf);
  font-weight: 600;
}