@font-face {
  font-family: 'Roboto';
  src:
    url(../utils/fonts/Roboto/Roboto-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url(../utils/fonts/Roboto/Roboto-Bold.ttf) format('ttf');
  font-weight: 600;
}