@font-face {
  font-family: 'Roboto';
  src:
    url(../utils/font/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  src: url(../utils/font/Roboto/Roboto-Bold.ttf);
  font-weight: 600;
}