.w {
  width: 80vw;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 1.2rem;
}

.sudoku {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.item {
  width: 100%;
  min-height: 100px;
  object-fit: cover;
  background-color: #f08080;
}

.random {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.random>div:nth-child(1) {
  grid-column: span 2;
}

.random>div:nth-child(2) {
  grid-row: span 2;
}

.random>div:nth-child(3) {
  grid-row: span 2;
}

.random>div:nth-child(5) {
  grid-column: span 2;
}

.ale {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 10px;
}

.page {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav nav nav'
    'aside article article'
    'footer footer footer';
  gap: 10px;
}

.page>* {
  text-align: center;
  background-color: #f08080;
}

.page header {
  grid-area: header;
  height: 100px;
}

.page nav {
  grid-area: nav;
  height: 30px;
}

.page aside {
  grid-area: aside;
  min-height: 400px;
}

.page article {
  grid-area: article;
}

.page footer {
  grid-area: footer;
  height: 30px;
}