img {
  width: unset;
  height: unset;
  object-fit: unset;
}

.mode {
  display: flex;
  flex-wrap: wrap;
}

.tips {
  flex: 1;
  margin-left: 1rem;
}

.mode .img0 {
  width: 350px;
}

.img-box {
  width: 350px;
  height: 350px;
  background-color: #ccc;
  overflow: hidden;
}

.img-box .img1 {
  width: 100%;
}

.mode .img2 {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.align>div {
  width: 350px;
  background-color: rgb(255, 127, 80);
  margin-bottom: 1rem;
}

.align img {
  width: 150px;
}

.middle img {
  vertical-align: middle;
}

.top img {
  vertical-align: top;
}

.btm img {
  vertical-align: bottom;
}

p {
  text-indent: 2em;
}

@media (max-width:768px) {
  .mode {
    flex-direction: column;
  }
  .mode img {
    align-self: center;
  }
  .tips {
    margin: 0;
  }
  .img-box {
    flex: unset;
    margin: 0 auto;
  }
  div.flex-h {
    flex-direction: column;
    margin: 1rem 0;
  }
  .blend-img {
    width: 350px;
    height: 235px;
  }
}