img {
  width: unset;
  height: unset;
  object-fit: unset;
}

.mode {
  display: flex;
  flex-wrap: wrap;
}

.tips {
  flex: 1;
}

.mode .img0 {
  width: 360px;
}

.img-box {
  width: 360px;
  height: 360px;
  background-color: #ccc;
  overflow: hidden;
}

.img-box .img1 {
  width: 100%;
}

.mode .img2 {
  width: 360px;
  height: 360px;
  object-fit: cover;
}

.blend-img {
  width: 750px;
  height: 500px;
  margin: 0 auto;
  background: url(../imgs/bg.jpg), url(../imgs/mask.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: screen;
}

.icon {
  width: 36px;
  height: 46px;
  overflow: hidden;
  background-image: url(../imgs/jd.png);
  background-repeat: no-repeat;
  text-indent: -999px;
  margin-right: .5rem;
}

.item {
  margin: 0 1rem;
}

.more {
  background-position: 0 -191px;
}

.fast {
  background-position: -41px -191px;
}

.good {
  background-position: -82px -191px;
}

.tile-box {
  display: flex;
  max-width: 750px;
  margin: 0 auto;
}

.tile {
  flex: 1;
  height: 20rem;
  background-image: url(../imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: 300% 100%;
}

.t0 {
  background-position: 0;
}

.t0:hover {
  transform: translateY(-1rem);
}

.t1 {
  background-position: 50%;
}

.t1:hover {
  transform: translateY(-1rem);
}

.t2 {
  background-position: 100%;
}

.t2:hover {
  transform: translateY(-1rem);
}

.save {
  background-position: -123px -191px;
}

@media (max-width:768px) {
  .mode {
    display: unset;
  }
  .img-box {
    flex: unset;
  }
  div.flex-h {
    flex-direction: column;
    margin: 1rem 0;
  }
  .blend-img {
    width: 350px;
    height: 235px;
  }
}