img {
  width: unset;
  height: unset;
  object-fit: unset;
}

.mode {
  display: flex;
  flex-wrap: wrap;
}

.tips {
  flex: 1;
  padding-left: 1rem;
}

.mode .img0 {
  width: 360px;
}

.img-box {
  width: 360px;
  height: 360px;
  background-color: #ccc;
  overflow: hidden;
}

.img-box .img1 {
  width: 100%;
}

.mode .img2 {
  width: 360px;
  height: 360px;
  object-fit: cover;
}

.align>div{
  width: 350px;
  background-color: rgb(255, 127, 80);
  margin-bottom: 1rem;
}
.align img{
  width: 150px;
}
.middle img{
  vertical-align: middle;
}
.top img{
  vertical-align: top;
}
.btm img{
  vertical-align:bottom;
}

@media (max-width:768px) {
  .mode {
    display: unset;
  }

  .tips {
    padding: 0;
  }

  .img-box {
    flex: unset;
  }

  div.flex-h {
    flex-direction: column;
    margin: 1rem 0;
  }
 

  .blend-img {
    width: 350px;
    height: 235px;
  }
}