header {
    display: flex;
    align-items: center;
    height: 6rem;
    background-color: #2980b9;
    background-image: url(../imgs/xit.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

header .avatar {
    margin: 0 1rem;
    width: 5rem;
    height: 5rem;
    background-image: url(../imgs/avatar.jpg);
    background-size: cover;
    border-radius: 50%;
    filter: drop-shadow(0rem 0rem .4rem rgb(255, 255, 255));
}

header h1 {
    display: inline-block;
}

header span {
    font-size: .5em;
    color: #ff0;
}

.cont-title {
    /* color: rgb(0, 177, 181); */
    border-bottom: 2px solid rgb(0, 177, 181);
}

.nav-item {
    text-transform: capitalize;
    line-height: 1.5;
    align-items: center;
}

.nav-item:hover {
    color: rgb(0, 177, 181);
}

.icon {
    font-size: 1.4rem;
    color: rgb(0, 177, 181);
}

.nav-desc {
    font-family: 'Courier New', Courier, monospace;
}