.nav-item {
  position: relative;
  text-decoration: none;
  height: 10rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: 3px solid #eee;
  background-color: #fefefe;
  transition: .4s;
  cursor: url(../imgs/cursor_over.png), auto;
}

.nav-item:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, .6);
  /* transform: scale(1.06); */
  background-color: #ff9f43;
}

.nav-desc {
  opacity: 1;
  transition: .4s;
}

.nav-tips {
  position: absolute;
  opacity: 0;
  transition: .4s;
  z-index: 1;
}

.nav-item:hover .nav-desc {
  opacity: 0;
  transform: scale(2);
}

.nav-item:hover .nav-tips {
  opacity: 1;
  color: #fff;
  transform: scale(2);
}

@media screen and (max-width:768px) {
  .grid4 {
    grid-template-columns: repeat(2, 1fr);
    gap: .6rem;
  }
  .nav-item {
    height: 6rem;
  }
  .nav-desc {
    display: none;
  }
  .nav-tips {
    opacity: 1;
  }
}