.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 1rem auto;
}

.chap {
  position: relative;
  height: 6rem;
  padding: .4rem;
  border: 4px solid #fff;
  box-shadow: 0 0 .2rem #888;
  border-radius: .5rem;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}

.grid .chap::before {
  content: '';
  position: absolute;
  width: 2rem;
  height: 100%;
  left: 0;
  background-image: url(../imgs/oa.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0;
}

.grid .chap:nth-child(1)::before {
  background-position: 0;
}

.grid .chap:nth-child(2)::before {
  background-position: calc(100%/7);
}

.grid .chap:nth-child(3)::before {
  background-position: calc(200%/7);
}

.grid .chap:nth-child(4)::before {
  background-position: calc(300%/7);
}

.grid .chap:nth-child(5)::before {
  background-position: calc(400%/7);
}

.grid .chap:nth-child(6)::before {
  background-position: calc(500%/7);
}

.grid .chap:nth-child(7)::before {
  background-position: calc(600%/7);
}

.grid .chap:nth-child(8)::before {
  background-position: 100%;
}

.chap:disabled {
  cursor: not-allowed;
}

/* 禁止子元素事件触发，避免和父元素事件冲突 */

.chap-tips {
  pointer-events: none;
}

.tips {
  font-size: .85rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 .4rem #ddd;
  color: #666;
}

.tips h3 {
  text-align: center;
  border-bottom: 1px solid #ddd;
  line-height: 2;
}

.tips ol {
  margin-top: 1rem;
  padding-left: 1rem;
}

.timer {
  position: sticky;
  top: 0;
  width: 100%;
  text-align: center;
  margin: 1rem auto;
  z-index: 99;
}

.btn, .countdown {
  width: 100%;
  height: 2.2rem;
  border: none;
  background-color: tomato;
  color: #fff;
  font-size: 1.2rem;
}

.btn {
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

.countdown {
  line-height: 2.2rem;
  user-select: none;
}

.active {
  box-shadow: 0 0 .4rem #f00;
}

.quiz {
  line-height: 2;
}

.quiz-item {
  position: relative;
}

.desc {
  user-select: none;
}

.option {
  display: flex;
  cursor: pointer;
}

.option .sn {
  flex-basis: 2rem;
}

.option input {
  margin: 0;
}

.ref {
  position: absolute;
  right: 0rem;
  color: #f40;
}

.flag {
  font-weight: 700;
  color: #f40;
}

.back {
  display: flex;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 2rem;
  height: 2rem;
  background-color: #f40;
  color: #fff;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 98;
  user-select: none;
}

.show {
  opacity: 1;
}

@media screen and (max-width:768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}