@import url(https://at.alicdn.com/t/c/font_3869861_lkv942px18r.css);

header {
  background-image: url(https://cdn.pixabay.com/photo/2023/03/13/15/21/iot-7850194_1280.jpg);
}

dt {
  position: sticky;
  top: 10vh;
  background-color: #fff;
  z-index: 1;
}

.grid-detail-item {
  display: flex;
  align-items: center;
  gap: var(--p-m-g);
}

.grid-detail-item .iconfont {
  font-size: 3rem;
}

.grid-detail-item span {
  flex: 1;
  transition: .4s;
}

.grid-detail-item span:first-child {
  text-align: right;
}

.agenda tr>*:first-child {
  text-align: center;
  width: 20%;
}

table {
  max-width: 600px;
}


th .iconfont {
  font-weight: normal;
}

.agenda {
  counter-reset: unset;
  border-top: 1px solid var(--main-color);
}

.agenda tr:not(:has(th)) {
  counter-increment: week-sn;
}

.agenda tr td:first-child::before {
  content: counter(week-sn);
}

.value {
  width: 100%;
  max-width: 600px;
  margin: var(--p-m-g) auto;
}

.item,
.eva-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--p-m-g);
  justify-content: center;
  height: 30px;
  border-radius: 30px;
  margin: var(--p-m-g) auto;
  font-size: 1.4rem;
  color: var(--color);
  border: 1px solid var(--color);
  padding: 2px;
}

.eva-bar {
  width: calc(var(--per)*1%);
  height: 100%;
  background-color: var(--color);
  border-radius: 30px;
}

.item::before {
  content: '';
  width: calc(var(--per)*1%);
  height: 100%;
  background-color: var(--color);
  border-radius: 30px;
  order: 0;
}

.item::after {
  content: attr(data-val);
  order: -1;
}

.advice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 10vh;
  gap: var(--p-m-g);
  max-width: 600px;
  width: 100%;
  margin: var(--p-m-g) auto;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--p-m-g);
  border-radius: var(--p-m-g);
  line-height: initial;
  cursor: pointer;
  transition: .4s;
  overflow: hidden;
}

.icon-box span {
  transition: .4s;
  font-size: 3rem;
}

.icon-box:hover {
  background-color: var(--main-color);
  color: #fff;
}

.icon-box:hover span {
  color: #fff;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  dt::before {
    content: '\2720  ';
    color: var(--warn-color);
  }

  .agenda tr>*:first-child {
    text-align: left;
    width: 100%;
    border-bottom: 1px solid var(--main-color);
  }

  .agenda tr td:first-child::before {
    content: '第' counter(week-sn)'周';
    font-weight: 600;
  }

  .tbl-ale td {
    display: flex;
    gap: var(--p-m-g);
  }


  .tbl-ale td:nth-child(1) {
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
  }

  .tbl-ale td:nth-child(1)::before {
    content: '组号';
    font-weight: 600;
  }

  .tbl-ale td:nth-child(2)::before {
    content: '成员';
  }

  .tbl-ale td:nth-child(3)::before {
    content: '综合10';
  }

  .tbl-ale td:nth-child(4)::before {
    content: '结构20';
  }

  .tbl-ale td:nth-child(5)::before {
    content: '样式40';
  }

  .tbl-ale td:nth-child(6)::before {
    content: '逻辑10';
  }

  .tbl-ale td:nth-child(7)::before {
    content: '模块20';
  }

  .tbl-ale td:nth-child(8)::before {
    content: '选做10';
  }

  .tbl-ale td:nth-child(9)::before {
    content: '得分';
  }

  .table-tr {
    text-align: center;
  }
}