:root {
  --w: 72vw;
}

.w {
  width: var(--w);
  min-height: 100vh;
  padding: 1rem;
  background-color: #fff;
}

p {
  text-indent: 2em;
}

.cart {
  position: relative;
  margin: 20px auto;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--txt-wran-color);
  border-radius: 20px;
  color: var(--txt-wran-color);
}

.badge {
  position: absolute;
  font-size: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--txt-wran-color);
  color: #fff;
}


.keyword {
  right: 6rem;
  top: -.5rem;
}

.neg {
  margin-top: -.5rem;
  margin-left: -.5rem;
}

.demo-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.demo {
  position: relative;
  width: 100%;
  margin: 0.5rem auto;
  background-color: #a8e073;
}

.demo-inner0 {
  position: absolute;
  width: 110px;
  height: 50px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  margin-left: -55px;
  margin-top: -25px;
}

.demo-inner1 {
  position: absolute;
  width: 110px;
  height: 50px;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.demo-inner3 {
  position: absolute;
  width: 110px;
  height: 50px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-box {
  display: flex;
}

.demo-inner4 {
  width: 110px;
  height: 50px;
  background-color: #fff;
  margin: auto;
}

.flex-box-adv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-inner5 {
  width: 110px;
  height: 50px;
  background-color: #fff;
  margin: auto;
}

.icon {
  position: absolute;
  margin-top: -1.2rem;
  margin-left: -1rem;
  color: #a8e073;
}

.right {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  width: 3.4rem;
  padding: 0.5rem;
  margin-left: calc(var(--w)/2);
  background-color: #ccc;
  color: #fff;
  z-index: 98;
}

.left {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  width: 3.4rem;
  padding: 0.5rem;
  min-height: 10rem;
  margin-right: calc(var(--w)/2);
  background-color: #ccc;
  color: #fff;
  z-index: 99;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: var(--w);
  transform: translateX(-50%);
  background-color: #ccc;
}

.spacer {
  height: 1px;
  background-color: #a8e073;
  margin: .5rem auto;
}

ul>li {
  text-align: center;
  font-size: 1rem;
}

.sticky {
  position: sticky;
  top: 0;
  margin: 0 auto;
  z-index: 90;
}

.nav {
  display: flex;
  background-color: #a8e073;
  color: #fff;
}

.nav li {
  padding: .2rem .4rem;
}

.nav li:first-child {
  margin-right: auto;
  text-transform: capitalize;
}

.zindex {
  position: relative;
  padding: 1rem;
  box-shadow: 0 .4rem 1rem .1rem rgba(0, 0, 0, .4);
  z-index: 80;
}

.cont {
  padding: 1rem;
  background-color: #fff;
}

.qa {
  height: 200vh;
  text-indent: 2em;
}

.qa p::first-letter {
  color: #a8e073;
  font-weight: 700;
}

article {
  position: relative;
}

@media (max-width:768px) {
  .sidebar {
    width: 3.4rem;
    padding: .6rem;
  }

  .demo-box {
    grid-template-columns: 1fr;
  }

  .demo {
    width: 100%;
  }
}