:root {
  --w: 70vw;
}

.w {
  width: var(--w);
  min-height: 100vh;
  padding: 1rem;
  background-color: #fff;
}

p {
  text-indent: 2em;
}

.cart {
  position: relative;
  margin: 20px auto;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--txt-wran-color);
  border-radius: 20px;
  color: var(--txt-wran-color);
}

.badge {
  position: absolute;
  font-size: 12px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--txt-wran-color);
  color: #fff;
}

.keyword {
  right: 100px;
  top: -8px;
}

.neg {
  margin-top: -8px;
  margin-left: -8px;
}

.right {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: calc(var(--w)/2);
  transform: translateY(-50%);
  width: 4rem;
  padding: 1rem;
  background-color: #ccc;
  color: #c81623;
}

.left {
  position: fixed;
  top: 50%;
  right: 50%;
  margin-right: calc(var(--w)/2);
  transform: translateY(-50%);
  width: 4rem;
  min-height: 10rem;
  background-color: #ccc;
  color: #c81623;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: var(--w);
  transform: translateX(-50%);
  background-color: #ccc;
}

.spacer {
  height: 1px;
  background-color: #c81623;
  margin: .5rem auto;
}

ul>li {
  text-align: center;
  font-size: 1rem;
}

.nav {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #c81623;
  color: #fff;
}

.nav li {
  padding: .2rem .4rem;
}

.nav li:first-child {
  margin-right: auto;
  text-transform: capitalize;
}

.cont {
  height: 1000vh;
}

article {
  position: relative;
}

article span.icon {
  position: absolute;
  margin-top: -1.2rem;
  margin-left: -1rem;
  color: #c81623;
}

@media (max-width:768px) {
  .sidebar {
    width: 3.4rem;
    padding: .6rem;
  }
}