@charset "utf-8";
:root {
  --txt-wran-color: #c81623;
}

@font-face {
  font-family: 'iconfont';
  /* Project id 2357817 */
  src: url('//at.alicdn.com/t/font_2357817_dhel13phics.woff2?t=1632974998048') format('woff2'), url('//at.alicdn.com/t/font_2357817_dhel13phics.woff?t=1632974998048') format('woff'), url('//at.alicdn.com/t/font_2357817_dhel13phics.ttf?t=1632974998048') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "YuWei";
  src: url('../fonts/YuWei/YuWeiShuFaXingShuJianTi.ttf') format("TrueType")
}

@font-face {
  font-family: "monospace";
  src: url('../fonts/monospace/Elronmonospace.ttf') format("TrueType")
}

@font-face {
  font-family: "poppins";
  src: url('../fonts/poppins/Poppins-Light.ttf') format("TrueType")
}

html, body, ul, ol, dl, dd, a, img, p, h1, h2, h3, h4, div, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "montserrat" sans-serif;
  line-height: 1.5;
  background-color: rgb(244, 244, 244);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

/* 版权 */

h4 {
  font-size: 0.8rem;
  text-align: center;
  font-size: .85rem;
  font-weight: normal;
  color: #666;
  margin: 1rem 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video {
  width: 100%;
}

input, button, textarea {
  outline: none;
  border: none;
  border: 1px solid #ccc;
}

dt {
  font-weight: 700;
}

/* 版心 */

/* max-width:640px; */

/* min-width:320px; */

.w {
  width: 1000px;
  margin: 0 auto;
}

.code {
  background-color: #fff;
  padding: 1rem;
  margin: .5rem 0;
  font-family: monospace, 'Courier New', Courier, monospace;
  font-size: .85rem;
  overflow-y: auto;
}

.dom-center {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.flex-h {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

.keypoint dd {
  text-indent: 2em;
}

.exam-title {
  display: flex;
  align-items: center;
  margin: .5rem auto;
}

.exam-title::before {
  content: '示例';
  background-color: rgb(255, 99, 71);
  color: #fff;
  padding: 0 .5rem;
  margin-right: .5rem;
}

.exam-title::after {
  content: '';
  flex: 1;
  height: 1px;
  background-color: #c81623;
}

@media screen and (max-width:768px) {
  html {
    font-size: 14px;
  }
  .w {
    width: 96vw;
  }
}