.slim, .pc, .bold, .mobile {
  width: 100%;
  border-collapse: collapse;
}

.slim th, .bold th, .pc th, .mobile tr, .slim td, .bold td, .pc td, .mobile td {
  border: 1px solid #888;
}

.pc td {
  text-align: center;
}

.bold {
  border: 4px double #888;
}

.sodu {
  width: 100%;
  border-spacing: 1rem;
}

.sodu tr, .sodu td {
  border: 1px solid #888;
}

.cell-hide {
  width: 100%;
}

.cell-hide td {
  text-align: center;
  background-color: #ccc;
  empty-cells: hide;
}

.mobile {
  width: 100%;
}

.mobile tr td:first-child {
  font-weight: 700;
}