:root {
  --dis: 9px;
}

nav {
  position: sticky;
  width: 100%;
  height: 6rem;
  top: 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 99;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

ul li {
  perspective: 900px;
}

.nav {
  position: relative;
  display: block;
  width: 8rem;
  height: 2rem;
  transform-style: preserve-3d;
  transition: 1s;
  transform: rotateX(10deg);
}

.nav:hover {
  transform: rotateX(240deg);
}

.icon,
.en,
.cn {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2rem;
  text-align: center;
  color: #fff;
}

.icon {
  font-size: 1.4rem;
  background-color: #0aa;
  transform: rotateX(0deg) translateZ(var(--dis));
}

.en {
  text-transform: uppercase;
  background-color: #f40;
  transform: rotateX(120deg) translateZ(var(--dis));
}

.cn {
  background-color: #f39c12;
  transform: rotateX(240deg) translateZ(var(--dis));
}

.grid2 {
  justify-items: center;
  margin-top: 2rem;
}

.grid2>.txt-cont {
  align-self: flex-start;
  justify-self: flex-start;
}

section {
  min-height: 100vh;
  padding: 6rem 1rem;
}

/* navigation */
.nav-box {
  margin: 2rem auto;
  overflow: hidden;
}

.nav-box ul {
  width: 100%;
  height: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.nav-box ul li {
  background-color: #f40;
  color: #fff;
  line-height: 2rem;
  text-align: center;
  transform: skew(-45deg);
}

.nav-box ul li span {
  display: block;
  transform: skew(45deg);
}

.nav-box ul li:first-child {
  margin-left: -4rem;
}

.nav-box ul li:first-child span {
  margin-left: 4rem;
}

.nav-box ul li:last-child {
  margin-right: -4rem;
}

.nav-box ul li:last-child span {
  margin-right: 4rem;
}

.px-box {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 0 auto 2rem;
}

.section-title {
  font-size: 1.2rem;
  font-weight: 500;
}

.section-inner-title {
  color: #f40;
  text-transform: uppercase;
}


h4>span:last-child {
  text-transform: capitalize;
  font-size: 14px;
}

.grid3 {
  margin: 4rem auto;
}

.grid3>div {
  position: relative;
  min-height: 10rem;
  padding: 1rem;
  min-height: 300px;
  perspective: 1000px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
}

/* axis */
div.axis-box {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  /* perspective: 1000px; */
}


.axis {
  position: relative;
  width: 40px;
  height: 40px;
  transform-style: preserve-3d;
  transform: rotateX(-5deg) rotateY(0deg) rotateZ(0deg);
  animation: roll 2s forwards;
  animation-play-state: paused;
  cursor: pointer;
}

.axis:hover {
  animation-play-state: running;
}

@keyframes roll {
  to {
    transform: rotateX(-5deg) rotateY(-30deg) rotateZ(0deg);
  }
}

.axis-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 1px dotted #666;
}

.axis .front {
  transform: translateZ(20px);
}

.axis .back {
  transform: rotateX(180deg) translateZ(20px);
}

.axis .left {
  transform: rotateY(90deg) translateZ(20px);
}

.axis .right {
  transform: rotateY(-90deg) translateZ(20px);
}

.axis .top {
  transform: rotateX(90deg) translateZ(20px);
}

.axis .bottom {
  transform: rotateX(-90deg) translateZ(20px);
}

.x-axis,
.y-axis,
.z-axis {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 100px;
  height: 2px;
  background-color: #333;
  transform-origin: left;
  transform-style: preserve-3d;
}

.y-axis {
  transform: rotateZ(90deg);
}

.z-axis {
  transform: rotateY(-90deg);
}

.x-axis::before {
  content: ">";
  position: absolute;
  left: 100%;
  top: -.7rem;
}

.x-axis::after {
  content: "+X";
  margin-left: 120%;
}

.y-axis::before {
  content: ">";
  position: absolute;
  left: 100%;
  top: -.7rem;
}

.y-axis::after {
  content: "+Y";
  display: inline-block;
  margin-left: 120%;
  transform: rotateZ(-90deg);
}

.z-axis::before {
  content: ">";
  position: absolute;
  left: 100%;
  top: -.7rem;
}

.z-axis::after {
  content: "+Z";
  margin-left: 120%;
}

.img-box {
  position: relative;
  background-image: url(../imgs/left.jpg);
  background-size: cover;
}

.img-box::before {
  content: '左手定则：大拇指指向轴的正方向';
  position: absolute;
  left: 0.4rem;
  top: 0.4rem;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.img-box::after {
  content: '四指弯曲方向即为顺时针方向';
  position: absolute;
  left: 0.4rem;
  bottom: 0.4rem;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

#pers p::first-letter {
  text-transform: uppercase;
}

#pers strong {
  position: relative;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

#pers strong::before {
  content: attr(data-ind);
}

.grid3 .border {
  /* border: 1px solid #888; */
  padding: unset;
}

.grid3>div:first-child {
  position: relative;
}

.grid3>div:first-child::before {
  content: "[";
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #f40;
}

.grid3>div:first-child::after {
  content: "]";
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #f40;
}

.grid3 p {
  text-align: center;
}

.grid3 .trans-title {
  font-weight: 600;
}

.grid3 img {
  display: block;
  transform-style: preserve-3d;
}

.ranger {
  width: 100%;
  margin: 1rem auto 0;
}

#trans-px,
#trans-deg {
  color: #f40;
  font-weight: 700;
}

#trans-img {
  transform: translateZ(0px);
}

#rot-img {
  transform: rotateY(0deg);
}

/* 3D */
.card-box {
  width: 92vw;
  max-width: 368px;
  height: 278px;
  /* margin: 2rem auto; */
  perspective: 900px;
  border: 4px solid #ddd;
  cursor: pointer;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.card::before {
  background-image: url(../imgs/1.jpg);
}

.card::after {
  background-image: url(../imgs/2.jpg);
  transform: rotateY(180deg);
}

.card-box:hover .card {
  transform: rotateY(180deg);
}

/* cube */
.cube-box {
  width: 120px;
  height: 120px;
  margin: 6rem auto;
  perspective: 1200px;
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(20deg) rotateZ(30deg);
  transition: 6s;
  cursor: pointer;
}

.cube-box:hover .cube {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateX(80deg) rotateY(170deg) rotateZ(330deg);
}

.cube>.side {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background-size: cover;
}

.cube .front {
  background-image: url(../imgs/1.jpg);
  transform: translateZ(60px);
}

.cube .back {
  background-image: url(../imgs/2.jpg);
  transform: rotateX(180deg) translateZ(60px);
}

.cube .left {
  background-image: url(../imgs/3.jpg);
  transform: rotateY(90deg) translateZ(60px);
}

.cube .right {
  background-image: url(../imgs/4.jpg);
  transform: rotateY(-90deg) translateZ(60px);
}

.cube .top {
  background-image: url(../imgs/5.jpg);
  transform: rotateX(90deg) translateZ(60px);
}

.cube .bottom {
  background-image: url(../imgs/6.jpg);
  transform: rotateX(-90deg) translateZ(60px);
}

.cube-box:hover .cube .front {
  transform: translateZ(120px);
}

.cube-box:hover .cube .back {
  transform: rotateX(180deg) translateZ(120px);
}

.cube-box:hover .cube .left {
  transform: rotateY(90deg) translateZ(120px);
}

.cube-box:hover .cube .right {
  transform: rotateY(-90deg) translateZ(120px);
}

.cube-box:hover .cube .top {
  transform: rotateX(90deg) translateZ(120px);
}

.cube-box:hover .cube .bottom {
  transform: rotateX(-90deg) translateZ(120px);
}

.cube>.inner {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 50%;
  height: 50%;
  background-image: url(../imgs/lg.png);
  background-size: cover;
}

.front-s {
  transform: translateZ(30px);
}

.back-s {
  transform: rotateX(180deg) translateZ(30px);
}

.left-s {
  transform: rotateY(90deg) translateZ(30px);
}

.right-s {
  transform: rotateY(-90deg) translateZ(30px);
}

.top-s {
  transform: rotateX(90deg) translateZ(30px);
}

.bottom-s {
  transform: rotateX(-90deg) translateZ(30px);
}

/* gallery */
.gallery-box {
  width: 100px;
  height: 100px;
  margin: 6rem auto;
  perspective: 1200px;
}

.gallery {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-12deg);
  animation: rotate360 20s linear infinite;
  cursor: pointer;
}

.gallery:hover {
  animation-play-state: paused;
}

@keyframes rotate360 {
  to {
    transform: rotateX(-12deg) rotateY(360deg);
  }
}

.gallery>div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 100px;
  text-align: center;
  font-size: 3rem;
  background-color: rgba(255, 68, 0, 0.8);
  border-radius: 1rem;
  color: #fff;
  transform: rotateY(calc(var(--deg) * 30deg)) translateZ(200px);
  backface-visibility: visible;
  /* text-shadow: 2px 0px 0px #fff, 0px 2px 0px #fff, -2px 0px 0px #fff, 0px -2px 0px #fff, 4px 4px 8px #333; */
  text-shadow: 0 0 10px #fff, 0 0 20px #ff0;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.2)
}

.gal-img {
  background-image: url(../imgs/lg.png);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.left-box {
  width: 350px;
  height: 350px;
  margin: 2rem auto;
}


@media screen and (max-width: 768px) {

  nav,
  ul {
    width: 2.2rem;
  }

  nav {
    position: fixed;
    top: 50%;
    right: .4rem;
    transform: translateY(-50%);
  }

  ul {
    flex-direction: column;
  }

  .nav {
    width: 2.2rem;
    transform-style: unset;
    transition: unset;
    transform: unset;
  }

  .nav:hover {
    transform: unset;
  }

  .en,
  .cn {
    display: none;
  }

  .gallery-box {
    width: 75px;
    height: 100px;
  }

  .gallery>div {
    line-height: 100px;
    transform: rotateY(calc(var(--deg) * 30deg)) translateZ(160px);
  }

}