h1 {
  text-transform: capitalize;
}

h2 {
  width: 800px;
  line-height: 2;
  text-align: center;
  background-color: #ff6347;
  color: #fff;
  margin: 1rem auto;
}

iframe {
  display: block;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}