h1 {
  text-transform: capitalize;
}

h2 {
  width: 800px;
  line-height: 2;
  text-align: center;
  text-transform: capitalize;
  background-color: #ff6347;
  color: #fff;
  margin: .5rem auto;
}

iframe {
  display: block;
  width: 800px;
  height: 768px;
  margin: 0 auto;
}
img{
  display: block;
  width: 800px; 
  margin: 0 auto;   
}
article.w{
  margin-top: 2rem;
}
article p{
  text-indent: 2em;
  margin: .4rem auto;
  text-align: justify;
}
.tips{
  color: #f40;
  font-weight: 700;
  text-decoration: underline;
}