<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OA Quiz</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/oa.css">
  <script src="./js/vue.global.prod.min.js"></script>
</head>

<body>
  <div class="w" id="app">
    <header>
      <h1>
        <a class="logo" href="./oa.html" title="理工学院软件工程">理工学院软件工程</a>
      </h1>
      <span class="logo-txt">大学计算机</span>
      <span class="iconfont tips-icon" @click='tips'>&#xe64a;</span>
    </header>
    <div class="grid">
      <button class="chap flex-v" v-for='(item,ind) in title' :key='item' @click='sel' :data-ind='ind'
        :disabled='startBool' :class='chapInd==ind? "active":""'>
        <p class="chap-tips">- 第{{ind+1}}章 -</p>
        <p class="chap-tips">{{item}}</p>
      </button>
    </div>
    <section class="timer">
      <button class="btn" v-if='!startBool' @click='startBtn' :disabled='chapInd<0'>开始</button>
      <button class="btn" v-else @click='submitBtn' :disabled="submitBool">
        <span v-if='timeBool'>提交</span>
        <span v-else>
          <span ref='h0'>0</span><span ref='h1'>0</span>:<span ref='m0'>0</span><span ref='m1'>0</span>:<span
            ref='s0'>0</span><span ref='s1'>5</span>
        </span>
      </button>
    </section>
    <section class="quiz" v-if='len'>
      <div class="quiz-item" v-for='(item,ind) in quiz' :hidden='!startBool && !doneBool'>
        <!-- <div class="ref" v-if='doneBool'>参考答案：{{res(item.options,item.answer)}}</div> -->
        <p class="desc">{{ind+1}}-{{quiz.length}}. {{item.desc}}</p>
        <label v-for='(option,sn) in item.options' class="option">
          <div class="sn">
            <input type="radio" :name="'r'+ind" :disabled='!startBool' :key="option">
          </div>
          <div :class='(doneBool && option==item.answer)?"flag":""'>{{label[sn]}}&nbsp;&nbsp;{{option}}</div>
        </label>
      </div>
    </section>
    <small>Copyright Reserved &copy; By Cnplaman 2021-10-06</small>
    <a class="back flex-v" ref='back' href="#app" :class='{"show":showBool}'>
      <span class="iconfont">&#xe6c0;</span>
    </a>
  </div>
  <script type="module">
    import oa from './data2021/oa.js'
    import './js/smooth-scroll.polyfills.min.js'
    const app = Vue.createApp({
      data() {
        return {
          title: oa.title,
          oa: oa.quiz,
          chapInd: -1,
          startBool: false,
          submitBool: true,
          doneBool: false,
          timeBool: false,
          showBool: false,
          quiz: [],
          label: ['A', 'B', 'C', 'D']
        }
      },
      methods: {
        sel(e) {
          let chapInd = Number(e.target.dataset.ind)
          if (chapInd == this.chapInd) {
            return
          }
          let keys = 'chap' + (chapInd + 1)
          this.chapInd = chapInd
          this.doneBool = false
          // do not arr1=arr2;
          let quizbak = [...this.oa[keys]]
          let temp = [...this.rand(quizbak)]
          for (let i = 0; i < temp.length; i++) {
            temp[i].options = [...this.rand(temp[i].options)]
          }
          this.quiz = [...temp]
        },
        tips() {
          alert('仅供测试练习；不存档；不保存')
        },
        startBtn() {
          this.startBool = true
          this.submitBool = true
          this.doneBool = false
          this.timeBool = false
          // setTimeout(function () { })
          // setTimeout(() => {
          //   this.submitBool = false
          // }, 5 * 60 * 1000)
          this.counting()
        },
        submitBtn() {
          this.doneBool = true
          this.startBool = false
        },
        rand(arr) {
          let temp = []
          while (arr.length > 0) {
            let ind = Math.floor(Math.random() * arr.length)
            temp.push(arr[ind])
            arr.splice(ind, 1)
          }
          return temp
        },
        counting() {
          let secs = 5 * 1
          let inter = setInterval(() => {
            secs--;
            if (secs < 0) {
              clearInterval(inter)
              this.timeBool = true
              this.submitBool = false
              return
            }
            let hour = Math.floor(secs / 3600)
            let min = Math.floor(secs % 3600 / 60)
            let sec = secs % 60
            this.$refs.h0.innerHTML = Math.floor(hour / 10)
            this.$refs.h1.innerHTML = hour % 10

            this.$refs.m0.innerHTML = Math.floor(min / 10)
            this.$refs.m1.innerHTML = min % 10

            this.$refs.s0.innerHTML = Math.floor(sec / 10)
            this.$refs.s1.innerHTML = sec % 10
          }, 1000)
        },
        back2top() { }
      },
      computed: {
        res() {
          return (options, option) => {
            return this.label[options.indexOf(option)]
          }
        },
        len() {
          return this.quiz.length
        }
      },
      watch: {
        bool(oldval, newval) {
          console.log(oldval, newval);
        }
      },
      created() {
        console.log(this.chapInd);
      },
      mounted() {
        window.addEventListener('scroll', (e) => {
          // console.log(e);
          // console.log('e.target.scrollingElement.scrollTop', e.target.scrollingElement.scrollTop);
          // console.log('e.srcElement.scrollingElement.scrollTop', e.srcElement.scrollingElement.scrollTop);
          // console.log('document', document.documentElement.scrollTop || document.body.scrollTop);
          // IE8-请使用上述方法；其它浏览器推荐使用如下属性。注意是只读属性
          // console.log('window.pageYOffset', window.pageYOffset);
          // console.log('window', window.innerHeight);
          if (window.pageYOffset > window.innerHeight) {
            // console.log(this.$refs.back);
            // this.$refs.back.classList.add('show')
            this.showBool = true
          } else {
            this.showBool = false
          }
          // console.log(this.$refs.back.classList);
        })
        new SmoothScroll('a[href*="#"]', {
          speed: 300,
          easing: 'easeInCubic'
        })
      },
    })
    const vm = app.mount('#app')
  </script>
</body>

</html>