:root {
  --main-w: 200px;
  --w: calc(var(--main-w) / 2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  perspective: 1000px;
}

.wrap {
  position: relative;
  width: var(--main-w);
  height: var(--main-w);
  transform-style: preserve-3d;
  transform: rotatex(-30deg) rotatey(20deg);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: cube-roll 20s linear infinite alternate;
  cursor: pointer;
}

.wrap div {
  position: absolute;
}

.item {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  transition: 0.5s;
  box-shadow: 0 0 40px 20px rgba(255, 255, 255, 0.2);
}

.front {
  transform: translatez(var(--w));
  background-image: url(/utils/wallpaper/w0.jpg);
}

.back {
  transform: rotatey(180deg) translatez(var(--w));
  background-image: url(/utils/wallpaper/w1.jpg);
}

.left {
  transform: rotatey(90deg) translatez(var(--w));
  background-image: url(/utils/wallpaper/w2.jpg);
}

.right {
  transform: rotatey(-90deg) translatez(var(--w));
  background-image: url(/utils/wallpaper/w3.jpg);
}

.top {
  transform: rotatex(90deg) translatez(var(--w));
  background-image: url(/utils/wallpaper/w4.jpg);
}

.btm {
  transform: rotatex(-90deg) translatez(var(--w));
  background-image: url(/utils/wallpaper/w5.jpg);
}

.inner {
  width: 50%;
  height: 50%;
  background-image: url(/utils/wallpaper/green.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.inner-front {
  transform: translatez(calc(var(--w) / 2));
}

.inner-back {
  transform: rotatex(180deg) translatez(calc(var(--w) / 2));
}

.inner-left {
  transform: rotatey(90deg) translatez(calc(var(--w) / 2));
}

.inner-right {
  transform: rotatey(-90deg) translatez(calc(var(--w) / 2));
}

.inner-top {
  transform: rotatex(90deg) translatez(calc(var(--w) / 2));
}

.inner-btm {
  transform: rotatex(-90deg) translatez(calc(var(--w) / 2));
}

.wrap:hover .front {
  transform: translatez(calc(var(--w) * 2));
  opacity: 1;
}

.wrap:hover .back {
  transform: rotatey(180deg) translatez(calc(var(--w) * 2));
  opacity: 1;
}

.wrap:hover .left {
  transform: rotatey(90deg) translatez(calc(var(--w) * 2));
  opacity: 1;
}

.wrap:hover .right {
  transform: rotatey(-90deg) translatez(calc(var(--w) * 2));
  opacity: 1;
}

.wrap:hover .top {
  transform: rotatex(90deg) translatez(calc(var(--w) * 2));
  opacity: 1;
}

.wrap:hover .btm {
  transform: rotatex(-90deg) translatez(calc(var(--w) * 2));
  opacity: 1;
}

@keyframes cube-roll {
  to {
    transform: rotatex(180deg) rotatey(260deg) rotatez(240deg);
  }
}