:root {
  --per: 0;
}

body,
ul,
li,
h1,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 80px auto;
}

p {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.wrap {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background-color: #000;
  overflow: hidden;
}

ul {
  list-style: none;
}


li {
  width: 320px;
  height: 180px;
  margin: 10px auto;
  background-size: cover;
  transform: scale(calc(1.8 - 0.8*var(--per))) translateY(calc(-60px*(1 - var(--per))));
  opacity: var(--per);
}

li:nth-child(1) {
  background-image: url(../../../utils/view/view0.jpg);
}

li:nth-child(2) {
  background-image: url(../../../utils/view/view2.jpg);
}

li:nth-child(3) {
  background-image: url(../../../utils/view/view3.jpg);
}

li:nth-child(4) {
  background-image: url(../../../utils/view/view4.jpg);
}

li:nth-child(5) {
  background-image: url(../../../utils/view/view5.jpg);
}

li:nth-child(6) {
  background-image: url(../../../utils/view/view6.jpg);
}
li:nth-child(7) {
  background-image: url(../../../utils/view/view7.jpg);
}
li:nth-child(8) {
  background-image: url(../../../utils/view/view8.jpg);
}
li:nth-child(9) {
  background-image: url(../../../utils/view/view9.jpg);
}
li:nth-child(10) {
  background-image: url(../../../utils/view/view0.jpg);
}