.sprite {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.sprite>div {
  display: flex;
  align-items: center;
  width: 180px;
  margin: 2rem auto;
  font-weight: 600;
}

.sprite .icon {
  width: 36px;
  height: 45px;
  overflow: hidden;
  background-image: url(../../imgs/jd.png);
  background-repeat: no-repeat;
  text-indent: -999px;
}

.sprite .more {
  background-position: 0 -189px;
}

.sprite .fast {
  background-position: -41px -189px;
}

.sprite .good {
  background-position: -82px -189px;
}

.sprite .save {
  background-position: -123px -189px;
}