@import url(//at.alicdn.com/t/c/font_4240947_1yqeamcumt2.css);
@import url(../../css/fonts_yuwei.css);

:root {
  --main-color: #FDC830;
  --p-m-g: 10px;
  --item-bg: hsla(44, 98%, 59%, 5%);
  --scroll-bar-bg: rgb(241, 139, 95);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--p-m-g);
  font-size: 1.5rem;
  align-items: center;
  height: 100vh;
  color: #efefef;
  background-color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--p-m-g);
  align-items: center;
  width: 100%;
  max-width: 1000px;
  padding: var(--p-m-g);

}

nav {
  width: 100%;
  align-self: start;
  display: flex;
  align-items: end;
  gap: var(--p-m-g);
  line-height: 20px;
}

.logo {
  margin-left: auto;
  color: var(--main-color);
}

.tab-item {
  font-size: 1.6rem;
  padding-top: var(--p-m-g);
  padding-bottom: var(--p-m-g);
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.tab-item.active {
  border-color: var(--main-color);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 60vh;
  padding-left: 40%;
  background-image: url(https://cdn.pixabay.com/photo/2020/09/12/05/07/thumbs-up-5564902_640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--p-m-g);
}

#main {
  display: flex;
  flex-direction: column;
  padding: var(--p-m-g) 0;
  overflow-y: auto;
}

#main::-webkit-scrollbar {
  width: 8px;
}

#main::-webkit-scrollbar-thumb {
  background-image: linear-gradient(transparent, var(--main-color));
}

.item {
  display: grid;
  grid-template-columns: auto auto 60px 1fr;
  align-items: center;
  gap: var(--p-m-g);
  padding: 0 var(--p-m-g);
  color: #fff;
  line-height: 40px;
}

.item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.item .iconfont {
  color: var(--main-color);
}

footer {
  color: #eee;
}

@media screen and (max-width:768px) {
  .logo .iconfont {
    font-size: 4rem;
  }

  .logo-title {
    display: none;
  }

  .main {
    height: 460px;
    padding-left: 0;
    background-position: unset;
  }

  #main {
    height: 400px;
  }

  .item .icons {
    grid-column: span 5;
    text-align: center;
  }
}