@import url(https://at.alicdn.com/t/c/font_4240947_1yqeamcumt2.css);

:root {
  --main-color: #FDC830;
  --item-bg: hsla(44, 98%, 59%, 5%);
  --scroll-bar-bg: rgb(241, 139, 95);
  --p-m-g: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--p-m-g);
  font-size: 1.5rem;
  align-items: center;
  height: 100vh;
  color: #efefef;
  background-color: #000;
  font-family: 'Roboto', 'Quicksand', "微软雅黑", "Microsoft YaHei", Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--p-m-g);
  align-items: center;
  width: 100%;
  max-width: 1024px;
  min-height: 100vh;
  padding: var(--p-m-g);

}

nav {
  position: relative;
  width: 100%;
  align-self: start;
  display: flex;
  align-items: center;
  gap: var(--p-m-g);
  line-height: 5vh;
  height: 5vh;
  font-size: 1.6rem;
  border-bottom: 1px solid #ccc;
  z-index: 1;
}

.nav {
  position: relative;
  cursor: pointer;
}

.nav:hover .nav-item {
  color: var(--main-color);
}

.nav.active .sub-nav,
.nav:hover .sub-nav {
  max-height: 100vh;
  transition: max-height 0.5s ease-in-out;
}

.sub-nav {
  position: absolute;
  width: 120px;
  max-height: 0;
  overflow: hidden;
  background-color: #000;
  line-height: 2;
}

.sub-nav-item:hover {
  color: var(--main-color);
}

.logo {
  margin-left: auto;
  color: var(--main-color);
}

.title {
  position: sticky;
  top: 0;
  background-color: #000;
  font-size: 1.8rem;
  line-height: 2;
}

.main {
  position: relative;
  width: 100%;
  height: 70vh;
}

.left {
  position: absolute;
  left: 0;
  width: 100%;
  max-width: 512px;
  height: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2024/06/06/07/24/man-8812061_640.png);
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.cont {
  position: absolute;
  right: 0;
  width: 100%;
  max-width: 512px;
  height: 100%;
  overflow-y: auto;
}

.cont::-webkit-scrollbar {
  width: 8px;
}

.cont::-webkit-scrollbar-thumb {
  background-image: linear-gradient(transparent, var(--main-color));
}

.item {
  display: grid;
  grid-template-columns: auto auto 60px 1fr;
  align-items: center;
  gap: var(--p-m-g);
  color: #fff;
  line-height: 2;
}

.item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.item .iconfont {
  color: var(--main-color);
}

footer {
  color: #eee;
  line-height: 4;
}

@media screen and (max-width:768px) {
  .logo .iconfont {
    font-size: 4rem;
  }

  .logo-title {
    display: none;
  }

  .cont {
    backdrop-filter: blur(1px);
  }
}