@font-face {
    font-family: "iconfont";
    /* Project id 3468246 */
    src: url('iconfont.woff2?t=1655302609735') format('woff2'),
        url('iconfont.woff?t=1655302609735') format('woff'),
        url('iconfont.ttf?t=1655302609735') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 3rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alarm:before {
    content: "\e604";
}

.icon-alarm-clock:before {
    content: "\e605";
}

.icon-file:before {
    content: "\e625";
}

.icon-target:before {
    content: "\e67c";
}