@import url(../css/font_3859342_ykpueqq9o0m/iconfont.css);

:root {
  --main-color: #f46;
  --main-bg-color: #4bc2ce;
  --main-txt-light-color: #fff;
}

body,
div,
h3,
h4,
p,
a,
span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

p {
  margin: 1rem 0;
}

.timeline {
  hyphens: auto;
}

.clear::after {
  content: '';
  display: block;
  clear: both;
}

.iconfont {
  font-size: 3rem;
  color: var(--main-color);
}

.node-head {
  text-align: center;
  line-height: 2;
}

.node-head a {
  padding: 1rem 8rem;
  border-radius: 1rem;
  background-color: var(--main-color);
  color: var(--main-txt-light-color);
}

.node-left {
  position: relative;
  float: left;
  width: calc(50% + 2px);
  border-right: 4px solid var(--main-color);
  padding-right: 3rem;
  padding-left: 1rem;
  text-align: right;
  /* 用上下相等的padding拉开上下的距离，保证轴不断开，且图标和标题垂直居中 */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.node-right {
  position: relative;
  float: right;
  width: calc(50% + 2px);
  border-left: 4px solid var(--main-color);
  padding-left: 3rem;
  padding-right: 1rem;
  /* 同上 */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.node-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.node-title.left {
  right: -10rem;
}

.node-title.right {
  left: -10rem;
}

.icon-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid var(--main-color);
  background-color: var(--main-txt-light-color);
}

.icon-box.left {
  right: calc(-2.5rem - 2px);
}

.icon-box.right {
  left: calc(-2.5rem - 2px);
}