.custom-audio {
  --per: 0%;
  position: relative;
  background-color: #dfe;
  display: flex;
  align-items: center;
  line-height: 40px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.custom-audio::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: var(--per);
  height: 2px;
  background-color: var(--warn-color);
}

#ctrl {
  width: 20px;
  height: 20px;
  background-size: cover;
  cursor: pointer;
  margin: 0 1rem;
}

.play {
  background-image: url(../imgs/Play.png);
}

.pause {
  background-image: url(../imgs/Pause.png);
}

.cur {
  margin-left: auto;
}