.basic {
  width: 300px;
  height: 300px;
  margin: var(--p-m-g) auto;
}

.single-img {
  height: 200px;
  background-color: #a8e073;
  background-image: url(../imgs/logo0.png);
  background-position: right bottom;
  background-size: 50px;
  background-repeat: no-repeat;
  margin-bottom: var(--p-m-g);
}

.multi-img {
  height: 200px;
  background-image: url(../imgs/logo0.png), url(../imgs/logo1.png);
  background-position: right bottom, top left;
  background-size: 50px;
  background-repeat: no-repeat;
  margin-bottom: var(--p-m-g);
  background-color: #a8e073;
}

.rpt li {
  display: flex;
  align-items: center;
}

.rpt div {
  flex: 1;
  height: 3px;
  background-image: url(../imgs/dot.png);
  background-repeat: repeat-x;
}

.slider-bg {
  height: 150px;
  background-image: url(../imgs/banner.jpg);
  transition: 2s;
}

.slider-bg:hover {
  background-position: right top;
}

.bgs {
  width: 320px;
  height: 180px;
  margin: var(--p-m-g) auto;
  background-image: url(../imgs/bg.jpg);
}

.bgs-option:has(input[id="auto"]:checked)+.bgs {
  background-size: auto;
}

.bgs-option:has(input[id="contain"]:checked)+.bgs {
  background-size: contain;
}

.bgs-option:has(input[id="cover"]:checked)+.bgs {
  background-size: cover;
}

.bgs-option:has(input[id="px"]:checked)+.bgs {
  background-size: 100px;
}

.bgs-option:has(input[id="per"]:checked)+.bgs {
  background-size: 20%;
}

.mask {
  background-image: linear-gradient(transparent, #000), url(../imgs/bg.jpg);
  background-size: cover;
}

.blinds {
  background-image: linear-gradient(transparent, #000), url(../imgs/bg.jpg);
  background-size: 100% 6px, cover;
}

.dog {
  position: relative;
  background-image: linear-gradient(210deg, transparent 3em, #ddd 0);
  border-radius: var(--p-m-g);
  overflow: hidden;
}

.dog::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-120deg, #0dd 3em, transparent 0);
  border-radius: var(--p-m-g);
  transform-origin: top right;
  transform: rotate(149deg) translate(13.8em, 2.3em);
}