:root {
  --item-gap: 0.4rem;
  --grid-color: #a8e073;
}

.grid-track {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem auto;
  grid-auto-rows: 60px;
}

.grid-track span {
  position: relative;
  border: 1px dotted #ccc;
}

.grid-track span:nth-child(3n+1)::before {
  content: attr(data-sn);
  position: absolute;
  left: 16px;
  top: -16px;
  background-color: #fff;
  color: #f40;
  font-weight: 600;
}

.grid-track span:nth-child(7)::after {
  content: attr(data-sn1);
  position: absolute;
  left: 16px;
  bottom: -16px;
  background-color: #fff;
  color: #f40;
  font-weight: 600;
}

.grid-track span:nth-child(-n+3)::after {
  content: attr(data-sn1);
  position: absolute;
  left: -6px;
  top: 16px;
  background-color: #fff;
  color: #01b4ff;
  font-weight: 600;
}

.grid-track span:nth-child(3)::before {
  content: attr(data-sn);
  position: absolute;
  right: -6px;
  top: 16px;
  background-color: #fff;
  color: #01b4ff;
  font-weight: 600;
}

.aside {
  display: grid;
  grid-template-columns: 8rem 1fr;
  gap: var(--item-gap);
  grid-auto-rows: 60px;
}

.item {
  background-color: #ccc;
}

.aside>*,
.cup>*,
.stack>*,
.random>*,
.sudoku>*,
.ale>*,
article>* {
  background-color: var(--grid-color);
}

.grid3 {
  padding: 0;
}

.random {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4rem;
  grid-auto-rows: 60px;
}

.random>div:nth-child(1) {
  /* grid-column: span 2; */
  grid-column: 1/3;
}

.random>div:nth-child(2) {
  /* grid-row: span 2; */
  grid-column: 3/4;
  grid-row: 1/3;
}

.random>div:nth-child(3) {
  /* grid-row: span 2; */
  grid-row: 2/4;
}

.random>div:nth-child(5) {
  /* grid-column: span 2; */
  grid-column: 2/4;
}

.random-adv {
  grid-auto-rows: 180px;
}

.random-adv .item {
  background-image: url(../imgs/IE.jpg);
  transition: 0.5s;
  opacity: 0.8;
  cursor: pointer;
}

.random-adv .item:hover {
  opacity: 1;
}

.random-adv .item:nth-child(1) {
  background-size: 150% 300%;
  background-position: 0 0;
}

.random-adv .item:nth-child(2) {
  background-size: 300% 150%;
  background-position: 100% 0;
}

.random-adv .item:nth-child(3) {
  background-size: 300% 150%;
  background-position: 0 100%;
}

.random-adv .item:nth-child(4) {
  background-size: 300% 300%;
  background-position: 50% 50%;
}

.random-adv .item:last-child {
  background-size: 150% 300%;
  background-position: bottom right;
}

.page-adv {
  display: grid;
  grid-template: auto 1fr auto/auto 1fr auto;
  height: 50vh;
  gap: 4px;
}

.page-adv>div {
  background-color: #ddd;
}

.page-adv .header,
.page-adv .footer {
  grid-column: 1/4;
}

.case0 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 1rem auto;
  background-color: #eee;
}

.case0>div,
.case1>div,
.case2>div {
  background-color: var(--grid-color);
}

.case1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 1rem auto;
  background-color: #eee;
  width: 100%;
  height: 320px;
}

.case2 {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  gap: 10px;
  margin: 1rem auto;
  width: 100%;
  height: 320px;
  background-color: #eee;
}

.self {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 320px;
  height: 320px;
  margin: 1rem auto;
  background-color: #eee;
}

.self div:nth-child(1) {
  justify-self: start;
  align-self: start;
}

.self div:nth-child(2) {
  justify-self: center;
  align-self: start;
}

.self div:nth-child(3) {
  justify-self: end;
  align-self: start;
}

.self div:nth-child(4) {
  justify-self: start;
  align-self: center;
}

.self div:nth-child(5) {
  justify-self: center;
  align-self: center;
}

.self div:nth-child(6) {
  justify-self: end;
  align-self: center;
}

.self div:nth-child(7) {
  justify-self: start;
  align-self: end;
}

.self div:nth-child(8) {
  justify-self: center;
  align-self: end;
}

.self div:nth-child(9) {
  justify-self: end;
  align-self: end;
}

.self>div {
  background-color: var(--grid-color);
}

@media screen and (max-width:768px) {

  .grid3 {
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
  }
}