img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.masonry-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 2685px;
  gap: 10px;
}

.masonry-flex .item {
  position: relative;
  width: calc((100% - 30px)/4);
  counter-increment: sn;
  background-color: #f1f2f3;
  border: 1px solid #333;
}

.masonry-flex .item::before {
  content: counter(sn);
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #333;
  line-height: 30px;
  text-align: center;
}

.masonry-flex .item:nth-child(4n+1) {
  order: 1;
}

.masonry-flex .item:nth-child(4n+2) {
  order: 2;
}

.masonry-flex .item:nth-child(4n+3) {
  order: 3;
}

.masonry-flex .item:nth-child(4n) {
  order: 4;
}

/* Columns */
.masonry-columns {
  column-count: 4;
  gap: 10px;
}

.masonry-columns .item {
  position: relative;
  counter-increment: gn;
  border: 1px solid #333;
  margin-bottom: 10px;
}

.masonry-columns .item::before {
  content: counter(gn);
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  color: #333;
  line-height: 30px;
  text-align: center;
}

.masonry-float .item {
  float: left;
  width: 25%;
  border: 1px solid #333;
}

.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  height: 350vh;
  grid-auto-flow: dense;
}

.masonry-grid .item {
  border: 1px solid #333;
}

@media screen and (max-width:768px) {
  .masonry-flex {
    height: 600px;
  }
}