.example-title {
  position: sticky;
  top: 10vh;
  background-color: #fff;
  z-index: 2;
}

article {
  height: var(--header-h);
  border: 1px solid #ccc;
  overflow-y: auto;
  margin-bottom: 2rem;
}

article p {
  padding: 0 var(--p-m-g);
}

article .title {
  position: sticky;
  top: 0;
  background-color: #f2f3f4;
  text-align: center;
  line-height: 40px;
  z-index: 1;
}

.tbl-sticky {
  height: 30vh;
  overflow: auto;
}

.tbl-sticky table {
  margin: 0;
}

.tbl-sticky tr:has(th) {
  position: sticky;
  top: 0;
}

article::-webkit-scrollbar,
.tbl-sticky::-webkit-scrollbar {
  width: 8px;
}

article::-webkit-scrollbar-thumb,
.tbl-sticky::-webkit-scrollbar-thumb {
  background-color: var(--tbl-color);
}

@media screen and (max-width:768px) {
  .chap {
    top: 120px;
  }
}