.example-title {
  position: sticky;
  top: var(--chap-h);
  background-color: #fff;
  z-index: 2;
}

article {
  height: var(--header-h);
  border: 1px solid #ccc;
  overflow-y: auto;
  margin-bottom: 2rem;
}

article p {
  padding: 0 var(--p-m-g);
}

article .title {
  position: sticky;
  top: 0;
  background-color: #f2f3f4;
  text-align: center;
  line-height: 40px;
  z-index: 1;
}

@media screen and (max-width:768px) {
  .chap {
    top: 120px;
  }
}