.chap {
  position: sticky;
  top: 200px;
  z-index: 2;
}

article {
  height: 200px;
  overflow-y: auto;
  margin-bottom: 2rem;
}

article .title {
  position: sticky;
  top: 0;
  background-color: #f2f3f4;
  text-align: center;
  line-height: 40px;
  z-index: 1;
}

@media screen and (max-width:768px) {
  .chap {
    top: 120px;
  }
}