@import url('../../css/fonts_YuWei.css');


:root {
  --cn-red: #DE2910;
  --cn-y: #FFDE00;
}

header h1 {
  font-size: 40px;
  color: var(--cn-y);
}

p {
  text-indent: 2em;
  line-height: 24px;
}

.oath {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 10px;
}

.oath>div {
  overflow: hidden;
}

.oath .img-box {
  background-image: url(../../imgs/flag.jpg);
  background-size: cover;
  min-height: 200px;
}

.oath h2 {
  line-height: 80px;
  height: 80px;
  text-align: center;
  background-color: var(--cn-red);
  color: var(--cn-y);
}

.oath h3 {
  line-height: 40px;
}

.oath p:not(:last-of-type) {
  margin-bottom: 1em;
}

.oath p {
  line-height: unset;
}

.oath p::first-letter {
  color: var(--cn-red);
}

.oath p.indent::first-letter {
  float: left;
  margin-right: 1rem;
  font-size: 2em;
}

.oath p.indent {
  text-indent: unset;
}

.oath .dot-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.core {
  text-align: center;
  font-family: "YuWei";
  font-size: 2.5rem;
  color: var(--cn-red);
  outline: #fff;
  font-weight: 700;
  text-shadow: 2px 0px 0px #fff, 0px 2px 0px #fff, -2px 0px 0px #fff, 0px -2px 0px #fff, 4px 4px 8px #333;
  padding: 20vh 0;
}

.inner {
  padding: 10px;
  text-indent: 2em;
  font-weight: 700;
  margin: 1rem auto;
  font-size: 2rem;
  background: #8c99a6;
  color: #434d56;
  text-shadow: 0 2px 2px #fff2;
}

.outer {
  padding: 10px;
  text-indent: 2em;
  font-weight: 700;
  margin: 1rem auto;
  font-size: 2rem;
  background: #596673;
  color: #b7bfc8;
  text-shadow: 0 -2px 2px #000;
}

a:hover {
  color: #a8e073;
}

.poem {
  width: 100%;
  writing-mode: vertical-rl;
  background-color: #f7f7f7;
  padding: 1rem;
  background-image: url(../imgs/poem.jpeg);
  background-size: cover;
  font-family: "yuwei";
  font-size: 30px;
  color: var(--cn-red);
  line-height: 2;
  text-shadow: 1px 1px 2px #000;
}

.txt-stroke {
  text-align: center;
  font-size: 40px;
  font-family: 'yuwei';
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  line-height: 120px;
  text-shadow: 0 0 10px #ff0;
  background-image: url(../imgs/section.jpg);
}