:root {
  --cn-red: #DE2910;
  --cn-y: #FFDE00;
}

header h1 {
  color: var(--cn-y);
}

p {
  text-indent: 2em;
  line-height: 24px;
}

.inner {
  padding: 10px;
  text-indent: 2em;
  font-weight: 700;
  margin: 1rem auto;
  font-size: 2rem;
  background: #8c99a6;
  color: #434d56;
  text-shadow: 0 2px 2px #fff2;
}

.outer {
  padding: 10px;
  text-indent: 2em;
  font-weight: 700;
  margin: 1rem auto;
  font-size: 2rem;
  background: #596673;
  color: #b7bfc8;
  text-shadow: 0 -2px 2px #000;
}

a:hover {
  color: #a8e073;
}

.txt-stroke {
  text-align: center;
  font-size: 40px;
  font-family: 'yuwei';
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  line-height: 120px;
  text-shadow: 0 0 10px #ff0;
  background-image: url(../imgs/section.jpg);
}