<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>json-server</title>
  <link rel="stylesheet" href="../css/reset2024.css">
  <link rel="stylesheet" href="../css/common2024.css">
  <link rel="stylesheet" href="../css/code.css">
  <link rel="stylesheet" href="../css/sn.css">
  <base target="_blank">
</head>

<body>
  <header>
    <h1>json-server</h1>
    <span>JSONServer</span>
  </header>
  <dl>
    <dd>快速搭建HTTP服务；需要node.js环境支持</dd>
    <dd>为应用提供JSON数据服务 - 仅仅是针对json文件的解析和应用</dd>
    <dd>更多信息，请访问<a href="https://www.npmjs.com/package/json-server" class="link">NPM
        Json-Server</a>；跟随文档操作即可；更多使用，请访问<a href="https://juejin.cn/post/7043424909472563208" class="link">从入门到膨胀</a>
    </dd>
    <dt>方法</dt>
    <dd class="number">
      <div>GET - 数据查询；配合id查询特定记录</div>
      <div>POST - 新增数据；会自动增加id</div>
      <div>PUT|覆盖 和 PATCH|更新 - 修改数据</div>
      <div>DELETE - 删除数据</div>
    </dd>
    <dt>创建服务器</dt>
    <dd class="number">
      <div>创建空白项目文件夹作为服务器，如server</div>
      <div>项目初始化 - 完成后创建package.json包管理配置文件；参数-y表述默认创建</div>
      <pre class="code">npm init -y</pre>
      <div>安装json-server依赖 - 通常独立全局-g安装，可以监听对于任何位置的json数据的请求 - <span class="warn">指哪打哪</span></div>
      <pre class="code">npm install json-server -g</pre>
      <div>创建数据文件 - students.json；包括用户id，姓名和星数；初始应为空，通过添加和修改逐步增加</div>
      <pre class="code">
{
  "digital": [
    {
      "uid": 20220110,
      "uname": "gl",
      "rank": 0
    }
  ],
  "software": [
    {
      "uid": 20220210,
      "uname": "gl",
      "rank": 0
    }
  ]
}</pre>
      <div>在CMD控制台启动服务 -监听数据文件 students.json；系统自动检测并给出接口的地址；注意当前打开的CMD位置和监听数据文件的路径关系</div>
      <p>默认端口3000</p>
      <pre class="code">json-server students.json</pre>
      <p>指定端口 - 和项目端口保持一致，避免浏览器跨域</p>
      <pre class="code">json-server students.json --port=5173</pre>
    </dd>
    <dt>数据请求 - Vue/axios</dt>
    <dd class="number">
      <div>GET - 请求数据；挂载完毕</div>
      <pre class="code">
onMounted(() => {
  axios.get('http://127.0.0.1:5173/software')
    .then(res => {
      //赋值
    })
})</pre>
      <p>可以封装函数</p>
      <pre class="code">
onMounted(() => {
  loadData()
})
func loadData(){
  axios.get('http://127.0.0.1:5173/software')
    .then(res => {
      //赋值
  })
}</pre>
      <p>数据渲染 - 判断数据是否为空</p>
      <pre class="code">
&lt;div class="wrap"&gt;
  &lt;template v-if="students.length"&gt;
    &lt;div class="item" v-for="(item, ind) in students" :key="item.id"&gt;
      &lt;div&gt;{{ ind + 1 }}&lt;/div&gt;
      &lt;div&gt;{{ item.uid }}&lt;/div&gt;
      &lt;div&gt;{{ item.uname }}&lt;/div&gt;
      &lt;div&gt;
        &lt;span class="iconfont icon-iconfontshoucang" v-for="star in item.rank"&gt;&lt;/span&gt;
      &lt;/div&gt;
      &lt;button @click="mod(item.id, item.rank)"&gt;增加&lt;/button&gt;
    &lt;/div&gt;
  &lt;/template&gt;
  &lt;template v-else&gt;数据为空&lt;/template&gt;
&lt;/div&gt;</pre>
      <div>POST - 增加数据；提交用户id，姓名和星数；完毕后重新拉取数据</div>
      <pre class="code">
function add() {
  axios.post('http://127.0.0.1:5173/software', {
    uid: uid.value,
    uname: uname.value,
    rank: rank.value
  })
    .then(res => {
      loadData()
    })
}</pre>
      <div>PATCH - 修改数据；根据id或uid</div>
      <p>由事件对象获取结构中绑定的数据</p>
      <pre class="code">
function mod(id, rank) {
  axios.patch('http://127.0.0.1:5173/software/' + id, {
    rank: rank + 1
  })
    .then(res => {
      //更新完毕后，创新加载数据
      loadData()
    })
}</pre>
      <div>DELETE - 删除数据；根据id或uid</div>
      <pre class="code">
function del(id) {
  axios.delete('http://127.0.0.1:5173/software/' + id)
    .then(res => {
      loadData()
    })
}</pre>
    </dd>
    <dt>数据请求 - 微信小程序</dt>
    <dd class="number">
      <div>GET - 获取数据</div>
      <pre class="code">
wx.request({
  url: 'http://127.0.0.1:3000/cont',
  success:res=>{
    console.log(res);
  }
})</pre>
      <p>根据用户id获取 - 用户提交前可以根据结果决定是不是已经提交；如果查询结果不为0，则已经提交，不允许再次提交</p>
      <pre class="code">url: 'http://127.0.0.1:3000/user?id='+this.data.id</pre>
      <div>POST - 提交数据；json-server会自动增加id，类型字符串</div>
      <pre class="code">
wx.request({
  url: 'http://127.0.0.1:3000/user',
  method:'POST',
  data:{
    id:2,
    uname:'nj'
  },
  success:res=>{
    console.log(res);
  }
})</pre>
      <div>DELETE - 删除数据</div>
      <div>PATCH - 修改部分数据</div>
      <div>PUT - 覆盖数据</div>
    </dd>
    <dd class="tips">
      <div>加入数据验证，如：提交数据是否符合要求，是否为空，等等</div>
      <div>加入分页设计</div>
    </dd>
  </dl>
  <iframe src="../common/footer.html" frameborder="0" scrolling="no" title="footer" id="footer"></iframe>
</body>

</html>