<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JSON-Server</title>
  <link rel="stylesheet" href="../css/common.css">
  <base target="_blank">
</head>

<body>
  <header>
    <h1>JSON-Server</h1>
    <span class="ham iconfont icon-menu"></span>
    <nav class="nav">
      <a href="" style="--delay:0" class="nav-item">Overview</a>
      <a href="" style="--delay:1" class="nav-item">Html</a>
      <a href="" style="--delay:2" class="nav-item">Vue</a>
      <a href="" style="--delay:3" class="nav-item">MP</a>
    </nav>
  </header>
  <dl class="nav-cont">
    <dd>快速搭建HTTP服务；需要 <a href="./ide.html">Node.js</a> 环境支持</dd>
    <dd>为应用提供JSON数据服务 - 仅仅是针对json文件的解析和应用</dd>
    <dd>更多信息，请访问 <a href="https://www.npmjs.com/package/json-server">NPM
        Json-Server</a>；更多使用，请访问 <a href="https://juejin.cn/post/7043424909472563208">从入门到膨胀</a>
    </dd>
    <dd class="tips">
      <div>严格按照文档接口使用</div>
    </dd>
    <dd>
      <table>
        <caption>方法</caption>
        <tr>
          <td>GET</td>
          <td>数据获取|查询<br>配合id可以查询指定记录</td>
          <td>/posts <br>/posts/:id</td>
        </tr>
        <tr>
          <td>POST</td>
          <td>新增|提交数据；会自动增加id，也可以提交时，手动指定</td>
          <td>/posts</td>
        </tr>
        <tr>
          <td>PUT</td>
          <td>以覆盖|替换的方式修改数据；配合id使用</td>
          <td>/posts/:id</td>
        </tr>
        <tr>
          <td>PATCH</td>
          <td>以更新|部分修改的方式修改数据，配合id使用</td>
          <td>/posts/:id</td>
        </tr>
        <tr>
          <td>DELETE</td>
          <td>删除数据，配合id使用</td>
          <td>/posts/:id</td>
        </tr>
      </table>
    </dd>
    <dt>安装依赖</dt>
    <dd>通常使用命令行参数 -g 全局安装 JSON-server：可以在任何位置监听 json数据 请求 - <span class="warn">指哪打哪</span></dd>
    <dd>任意位置打开 CMD 命令行窗口执行以下命令 - 确保已经安装了 Node</dd>
    <dd>
      <pre>npm install json-server -g</pre>
    </dd>
    <dd>如果 <span class="warn">临时</span> 使用，可以使用npx命令执行，不需要安装</dd>
    <dd>
      <pre>npx json-server --watch data/students.json --port 3000</pre>
    </dd>
    <dt>基本使用</dt>
    <dd class="sn">
      <div>创建数据文件夹 - 集中存放数据文件，如在D盘创建data文件夹</div>
      <div>创建数据文件 - 后缀名为.json；早期数据交换多使用XML</div>
      <p>应严格按照JSON文件的语法格式创建值对key-value；key必须用 <span class="warn">双引号</span> 包裹，value使用对应的数据类型即可；不允许有注释</p>
      <p>
        在数据文件夹内创建数据文件，如students.json；根节点包括2个子节点|值对：digital和software；每个子节点使用数组保存信息节点。每个信息节点又是一个值对，包括用户id，姓名和星数；初始数据为空，通过添加和修改逐步增加；具体数据根据需求添加和修改
      </p>
      <pre>
{
  "digital": [
    {
      "uid": 20220110,
      "uname": "gl",
      "rank": 0
    }
  ],
  "software": [
    {
      "uid": 20220210,
      "uname": "gl",
      "rank": 0
    }
  ]
}</pre>
      <div>监听数据文件 - 在数据文件夹内，打开CMD控制台，监听文件，即开启数据服务</div>
      <p>注意当前打开的CMD位置和监听数据文件的路径关系</p>
      <p>系统自动检测并给出接口的地址；这个地址就是提供给项目使用的API接口</p>
      <p>按住CTRL单击对应的地址，可以在浏览器中访问其中的内容；或直接在浏览器输入对应的地址</p>
      <p>. 默认端口3000</p>
      <pre>json-server students.json</pre>
      <p>. 也可以指定端口</p>
      <pre>json-server students.json --port=5173</pre>
    </dd>
  </dl>
  <div class="chap">Html/fetch</div>
  <dl class="nav-cont">
    <dt>GET</dt>
    <dd>
      <pre>
fetch(url + '/cont')
  .then(res => res.json())
  .then(res=>{
    console.log(res)
  })
  .catch(err => {
    console.log(err);
  })</pre>
    </dd>

    <dt>POST</dt>
    <dd>指定body和headers</dd>
    <dd>
      <pre>
fetch(url + '/cont', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({
    sn: usn.value,
    name: uname.value,
    stars: 1
  })
})
  .then(res => {
    console.log(res);
  })
  .catch(err => {
    console.log(err);
  })</pre>
    </dd>
    <dt>PATCH</dt>
    <dd>根据id更新数据</dd>
    <dd>
      <pre>
fetch(url + `/cont/${e.target.dataset.id}`, {
  method: 'PATCH',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({
    stars: num
  })
})
  .then(res => {
    console.log(res);
  })
  .catch(err => {
    console.log(err);
  })      </pre>
    </dd>
    <dt>DELETE</dt>
    <dd>根据id删除数据</dd>
    <dd>
      <pre>
fetch(url + `/cont/${id}`, {
  method: 'delete',
})
  .then(res => {
    console.log(res);
  })
  .catch(err => {
    console.log(err);
  })      </pre>
    </dd>
  </dl>
  <div class="chap">Vue/axios</div>
  <dl class="nav-cont">
    <dt>GET</dt>
    <dd>请求数据；通常在挂载生命周期中触发</dd>
    <dd>
      <pre>
onMounted(() => {
  axios.get('http://127.0.0.1:5173/software')
    .then(res => {
      //赋值
    })
})</pre>
    </dd>
    <dd>可以封装函数</dd>
    <dd>
      <pre>
onMounted(() => {
  loadData()
})
func loadData(){
  axios.get('http://127.0.0.1:5173/software')
    .then(res => {
      //赋值
  })
}</pre>
    </dd>
    <dd>数据渲染 - 判断数据是否为空</dd>
    <dd>
      <pre>
&lt;div class="wrap"&gt;
  &lt;template v-if="students.length"&gt;
    &lt;div class="item" v-for="(item, ind) in students" :key="item.id"&gt;
      &lt;div&gt;{{ ind + 1 }}&lt;/div&gt;
      &lt;div&gt;{{ item.uid }}&lt;/div&gt;
      &lt;div&gt;{{ item.uname }}&lt;/div&gt;
      &lt;div&gt;
        &lt;span class="iconfont icon-iconfontshoucang" v-for="star in item.rank"&gt;&lt;/span&gt;
      &lt;/div&gt;
      &lt;button @click="mod(item.id, item.rank)"&gt;增加&lt;/button&gt;
    &lt;/div&gt;
  &lt;/template&gt;
  &lt;template v-else&gt;数据为空&lt;/template&gt;
&lt;/div&gt;</pre>
    </dd>
    <dt>POST</dt>
    <dd>增加数据；提交用户id，姓名和星数；完毕后重新拉取数据</dd>
    <dd>
      <pre>
function add() {
  axios.post('http://127.0.0.1:5173/software', {
    uid: uid.value,
    uname: uname.value,
    rank: rank.value
  })
    .then(res => {
      loadData()
    })
}</pre>
    </dd>
    <dt>PATCH</dt>
    <dd>修改数据；根据id或uid</dd>
    <dd>由事件对象获取结构中绑定的数据</dd>
    <dd>
      <pre>
function mod(id, rank) {
  axios.patch('http://127.0.0.1:5173/software/' + id, {
    rank: rank + 1
  })
    .then(res => {
      //更新完毕后，创新加载数据
      loadData()
    })
}</pre>
    </dd>
    <dt>DELETE</dt>
    <dd>删除数据；根据id或uid</dd>
    <dd>
      <pre>
function del(id) {
  axios.delete('http://127.0.0.1:5173/software/' + id)
    .then(res => {
      loadData()
    })
}</pre>
    </dd>
  </dl>
  <div class="chap">微信小程序 MP</div>
  <dl class="nav-cont">
    <dt>GET</dt>
    <dd>获取所有数据</dd>
    <dd>
      <pre>
wx.request({
  url: 'http://127.0.0.1:3000/msg',
  success:res=>{
    console.log(res);
  }
})</pre>
    </dd>
    <dd>根据用户id获取指定数据 - 用户提交前可以根据结果决定是不是已经提交；如果查询结果不为0，则已经提交，不允许再次提交</dd>
    <dd>
      <pre>url: 'http://127.0.0.1:3000/user?id='+this.data.id</pre>
    </dd>
    <dt>POST</dt>
    <dd>提交数据；JSON-Server会自动增加id，类型字符串</dd>
    <dd>
      <pre>
wx.request({
  url: 'http://127.0.0.1:3000/msg',
  method:'POST',
  data:{
    id:2,
    uname:'nj'
  },
  success:res=>{
    console.log(res);
  }
})</pre>
    </dd>
    <dt>DELETE</dt>
    <dd>根据id删除数据；注意是直接拼接id</dd>
    <dd>
      <pre>
wx.request({
  url: 'http://127.0.0.1:3000/msg/'+e.currentTarget.dataset.id,
  method: 'DELETE',
  success: res => {
    console.log(res);
  },
  fail: err => {
    console.log(err);
  },
  complete: () => {
    console.log('done log');
  }
})      </pre>
    </dd>
    <dt>PATCH - 修改部分数据</dt>
    <dt>PUT - 覆盖数据</dt>
    <dd class="tips">
      <div>加入数据验证，如：提交数据是否符合要求，是否为空，等等</div>
      <div>加入分页设计</div>
    </dd>
  </dl>
  <iframe src="../common/footer.html" frameborder="0" scrolling="no" title="footer" id="footer"></iframe>
  <script src="/utils/custom/ham2024.js"></script>
  <script src="/utils/custom/star.js"></script>
</body>

</html>