<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>组件双向绑定 defineModel</title>
    <link rel="stylesheet" href="../css/common.css">
    <base target="_blank">
</head>

<body>
    <header>
        <h1>组件双向绑定</h1>
        <span>&commat; defineModel</span>
    </header>
    <dl>
        <dd>使用宏defineModel()方法实现组件的双向绑定：父组件的数据变化会影响到子组件；子组件的数据变化会影响到父组件</dd>
        <dd>用来声明一个双向绑定 prop，通过父组件的 v-model 来使用</dd>
        <dd>更多细节，请访问 <a href="https://cn.vuejs.org/guide/components/v-model.html" class="link">指南 - 组件 v-model</a>、<a
                href="https://cn.vuejs.org/api/sfc-script-setup.html#definemodel" class="link">API - defineModel()</a>
        </dd>
        <dt>基本过程</dt>
        <dd class="warn">你声明我绑定</dd>
        <dd class="sn">
            <div>子组件 - Model.vue</div>
            <p>使用 defineModel() 声明一个双向绑定数据，使用变量接收。如 model，可以是任意合法标识符，并使用该数据</p>
            <p>父组件绑定的是 ref 数据，所以接收的数据实际是 model.value</p>
            <p>子组件对数据的编辑如 updata()方法 将影响到父组件绑定的数据</p>
            <pre>
&lt;script setup&gt;
    const model = defineModel()
    
    const update = () =&gt; model.value++
&lt;/script&gt;

&lt;template&gt;
    &lt;div @click="update"&gt;{{ model }}&lt;/div&gt;
&lt;/template&gt;</pre>
            <div>父组件 - App.vue</div>
            <p>使用 v-model 绑定某个数据，如 count，该数据和子组件的model建立起双向绑定；它的自增方法也会影响到子组件的数据</p>
            <pre>
&lt;script setup&gt;
    import { ref } from 'vue';
    import Model from './components/Model.vue';
    let count = ref(0)
&lt;/script&gt;

&lt;template&gt;
    &lt;div @click="count++"&gt;{{ count }}&lt;/div&gt;
    &lt;Model v-model="count" /&gt;
&lt;/template&gt;</pre>
        </dd>
        <dt>表单组件的双向绑定</dt>
        <dd>上述是内容的双向绑定 - 采用{{}}语法，本例是属性的双向绑定 - 采用v-model</dd>
        <dd>
            <pre>
&lt;template&gt;
    &lt;input type="text" v-model="msg"&gt;
&lt;/template&gt;</pre>
        </dd>
        <dt>v-model参数</dt>
        <dd>指定参数创建双向绑定，多个双向绑定必须指定</dd>
        <dd class="example-sn">单个双向绑定 - 1个参数 title</dd>
        <dd class="sn">
            <div>子组件 - 声明时传入参数title</div>
            <pre>const model = defineModel('title')</pre>
            <div>父组件 - 使用参数title</div>
            <pre>&lt;Model v-model:title="count" /&gt;</pre>
        </dd>
        <dd class="example-sn">多个双向绑定 - 2个参数 first, last</dd>
        <dd class="sn">
            <div>子组件</div>
            <pre>
    const first = defineModel('first')
    const last = defineModel('last')</pre>
            <pre>
    &lt;input type="text" v-model="first"&gt;
    &lt;input type="text" v-model="last"&gt;</pre>
        </dd>
        <div>父组件</div>
        <pre>
    let user = ref({
        first: 'gl',
        last: 'cn'
    })</pre>
        <pre>&lt;Model v-model:first="user.first" v-model:last="user.last" /&gt;</pre>
        </dd>
    </dl>
    <div class="chap">底层机制</div>
    <dl>
        <dd>使用 <span class="warn">语法糖</span> 规则，修改为特定属性和特定方法，实现双向绑定</dd>
        <dd>prop 名称将默认为 "modelValue"</dd>
        <dt>单属性双向绑定</dt>
        <dd class="example-sn">点赞组件 - 双向绑定版</dd>
        <dd class="sn">
            <div>调整后的子组件 - 逻辑</div>
            <pre>
const props = defineProps({
    modelValue: Number
})
const emit = defineEmits(['update:modelValue'])
const incLike = () => {
    emit('update:modelValue', props.modelValue + 1)
}</pre>
            <div>调整后的子组件 - 结构</div>
            <pre>&lt;div @click="incLike"&gt;&lt;span class="fa fa-heart"&gt;&lt;/span&gt; {{ modelValue }}&lt;/div&gt;</pre>
            <div>调整后的父组件 - 逻辑</div>
            <pre>let msg = ref(0)</pre>
            <div>调整后的父组件 - 结构</div>
            <pre>&lt;List v-model="msg"&gt;&lt;/List&gt;</pre>
        </dd>
        <dt>多属性双向绑定</dt>
        <dd>使用修饰符区分不同的属性；使用冒号:不是点.</dd>
        <dd>父组件</dd>
        <dd>
            <pre>&lt;List v-model:msg="msg" v-model:tips="tips"&gt;&lt;/List&gt;</pre>
        </dd>
        <dd>子组件</dd>
        <dd>
            <pre>
const props = defineProps(['msg', 'tips'])
const emits = defineEmits(['update:msg', 'update:tips'])</pre>
        </dd>
        <dd>
            <pre>
&lt;input type="text" :value="msg" @input="$emit('update:msg', $event.target.value)"&gt;
&lt;input type="text" :value="tips" @input="$emit('update:tips', $event.target.value)"&gt;</pre>
        </dd>
    </dl>
    <iframe src="../common/footer.html" frameborder="0" scrolling="no" title="footer" id="footer"></iframe>
</body>

</html>