<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>动态组件 :is</title>
    <link rel="stylesheet" href="../css/common.css">
    <base target="_blank">
</head>

<body>
    <header>
        <h1>动态组件</h1>
        <span>&commat; :is</span>
    </header>
    <dl>
        <dt>动态组件 :is</dt>
        <dd>有些场景会需要在两个组件间来回切换，如标签页</dd>
        <dd>被切换掉的组件会被卸载。通过 &lt;KeepAlive&gt; 组件强制被切换掉的组件仍然保持“存活”的状态</dd>
        <dd>使用 &lt;component&gt; 元素和特殊的 is 属性 实现</dd>
        <dd>核心代码如下</dd>
        <dd>
            <pre>
&lt;template&gt;
    &lt;div&gt;
        &lt;button v-for="(_, tab) in tabs" @click="currentTab = tab" :key="tab"
        :class="['tab-button', { active: currentTab === tab }]"&gt;{{ tab }}&lt;/button&gt;
        &lt;component :is="tabs[currentTab]" class="tab"&gt;&lt;/component&gt;
    &lt;/div&gt;
&lt;/template&gt;
    
&lt;script setup&gt;
import { defineAsyncComponent, ref } from 'vue'

const AsyncHome = defineAsyncComponent(() => import('./components/Home.vue'))
const AsyncInfo = defineAsyncComponent(() => import('./components/Info.vue'))
const AsyncTeam = defineAsyncComponent(() => import('./components/Team.vue'))
const AsyncWork = defineAsyncComponent(() => import('./components/Work.vue'))
   
const currentTab = ref('AsyncHome')
const tabs = {
    AsyncHome,
    AsyncInfo,
    AsyncTeam,
    AsyncWork
}
&lt;/script&gt;</pre>
        </dd>
        <dd class="example-sn">利用条件 v-if 渲染切换2个组件</dd>
        <dd>
            <pre>
import Work from './components/Work.vue';
import Team from './components/Team.vue';</pre>
        </dd>
        <dd>
            <pre>
&lt;component v-if="flag" :is="Work">&lt;/component&gt;
&lt;component v-else :is="Team"&gt;&lt;/component&gt;</pre>
        </dd>
        <dd>改进 - 使用一个 &lt;component&gt;</dd>
        <dd>为了避免性能上的消耗，使用浅响应 shallowRef 创建组件数组</dd>
        <dd>浅响应 shallowRef 并不对其中的数据进行响应，仅仅对对象的名字响应</dd>
        <dd>或者使用普通方式提供渲染列表</dd>
        <dd>
            <pre>
let ind = ref(0)
// let com = ref([Reco, Copyright])
let com = shallowRef([Reco, Copyright])</pre>
        </dd>
        <dd>
            <pre>
&lt;component :is="com[ind]">&lt;/component&gt;</pre>
        </dd>
        <dd class="example-sn">标签页 - 切换时查看各组件的生命周期函数</dd>
        <dd>提示：可以利用单选按钮 radio 实现；引入多个组件；创建组件列表数组；使用多个radio，并双向绑定一个标识；使用label改进UI并隐藏radio</dd>
    </dl>
    <iframe src="../common/footer.html" frameborder="0" scrolling="no" title="footer" id="footer"></iframe>
</body>

</html>