<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>过渡组件组 &lt;TransitionGroup&gt;</title>
    <link rel="stylesheet" href="../css/common.css">
    <base target="_blank">
</head>

<body>
    <header>
        <h1>过渡组件组</h1>
        <span>&lt;TransitionGroup&gt;</span>
    </header>
    <dl>
        <dd>过渡组件组</dd>
        <dd>内置组件 - 无需注册即可在任意别的组件中使用</dd>
        <dd>一个 v-for 列表中的元素或组件被插入，移动|顺序改变，或移除时应用动画</dd>
        <dd>不需要使用条件来决定渲染过渡</dd>
        <dd>和 &lt;Transition&gt; 的使用 - 基本一致；部分应用需要特别注意</dd>
        <dd>.mode</dd>
        <dd>.key</dd>
        <dd>多用于应用管理场景：用户管理、留言管理、商品管理、代办事项等等</dd>
        <dd>更多信息，请访问 <a href="https://cn.vuejs.org/guide/built-ins/transition-group.html">官方文档 - transition-group</a>
        </dd>
        <dd class="example-sn">代办事项</dd>
        <dd>列表渲染事项数据</dd>
        <dd>每条数据可以在完成时删除</dd>
        <dd>删除时，要显示确认对话框 - 应用过渡</dd>
        <dd>单击可以增加一条新的事项数据 - 应用过渡</dd>
        <dd class="grid">
            <img src="./imgs/transition1.png" alt="">
            <img src="./imgs/transition2.png" alt="">
        </dd>
        <dd>参考结构</dd>
        <dd>
            <pre>
&lt;template&gt;
    &lt;div&gt;
        &lt;h3&gt;待办事项&lt;/h3&gt;
        &lt;div class="ipt-box"&gt;
            &lt;input type="text" required v-model="todo" @keydown.enter="insertItem"&gt;
            &lt;button @click="insertItem"&gt;增加&lt;/button&gt;
        &lt;/div&gt;
        &lt;template v-if="arr.length"&gt;
            &lt;div class="item"&gt;
                &lt;p&gt;序号&lt;/p&gt;
                &lt;p&gt;待办事项&lt;/p&gt;
                &lt;p&gt;操作&lt;/p&gt;
            &lt;/div&gt;
            &lt;TransitionGroup name="list"&gt;
                &lt;div class="item" v-for="(item, ind) in arr" :key="item" :data-ind="ind"&gt;
                &lt;p&gt;{{ ind }}&lt;/p&gt;
                &lt;p&gt;{{ item }}&lt;/p&gt;
                &lt;button class="del-btn" @click="deleteItem(ind)"&gt;删除&lt;/button&gt;
                &lt;/div&gt;
            &lt;/TransitionGroup&gt;
        &lt;/template&gt;
        &lt;template v-else&gt;暂无记录&lt;/template&gt;
    &lt;/div&gt;
&lt;/template&gt;</pre>
        </dd>
    </dl>
    <iframe src="../common/footer.html" frameborder="0" scrolling="no" title="footer" id="footer"></iframe>
    <script src="../utils/custom/clipboard.js"></script>
</body>

</html>