<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>动态组件 :is</title>
    <link rel="stylesheet" href="../css/common.css">
    <base target="_blank">
</head>

<body>
    <header>
        <h1>动态组件</h1>
        <span>:is</span>
    </header>
    <dl>
        <dt>&lt;component&gt;</dt>
        <dd>使用 &lt;component&gt; 元素和特殊的 :is 属性 实现多组件选一：在两个或多个组件间来回切换，如标签页、导航页</dd>
        <dd>被切换掉的组件会被卸载。通过 &lt;KeepAlive&gt; 组件强制被切换掉的组件仍然保持“存活”的状态</dd>
        <dd>更多信息，请访问 <a href="https://cn.vuejs.org/guide/essentials/component-basics.html#dynamic-components">官方文档 -
                动态组件</a></dd>
        <dt>defineAsyncComponent()</dt>
        <dd>定义异步组件；仅仅需要的时候才加载</dd>
        <dd>提高"首屏加载"速度</dd>
        <dt>shallowRef</dt>
        <dd>创建一个浅响应式对象，数据的深层改变不会触发视图更新，减少性能上的消耗</dd>
        <dd class="example-sn">利用条件 v-if 渲染切换2个组件</dd>
        <dd>
            <pre>
import Work from './components/Work.vue';
import Team from './components/Team.vue';</pre>
        </dd>
        <dd>
            <pre>
&lt;component v-if="flag" :is="Work">&lt;/component&gt;
&lt;component v-else :is="Team"&gt;&lt;/component&gt;</pre>
        </dd>
        <dd>改进 - 使用一个 &lt;component&gt;</dd>
        <dd>为了避免性能上的消耗，使用浅响应 shallowRef 创建组件数组</dd>
        <dd>浅响应 shallowRef 并不对其中的数据进行响应，仅仅对对象的名字响应</dd>
        <dd>或者使用普通方式提供渲染列表</dd>
        <dd>
            <pre>
let ind = ref(0)
// let com = ref([Reco, Copyright])
let com = shallowRef([Reco, Copyright])</pre>
        </dd>
        <dd>
            <pre>
&lt;component :is="com[ind]">&lt;/component&gt;</pre>
        </dd>
        <dd class="example-sn">标签页 - 切换时查看各组件的生命周期函数和网络加载情况</dd>
        <dd>更多案例：<a href="../web/input.html">高级 - 标签页</a>、<a href="../web/demo/acc_target.html">古诗欣赏</a>、<a
                href="../web/demo/detail.html">详情页</a>、<a href="../web/demo/swiper.html">轮播图</a>、<a
                href="../web/demo/login_deer.html">一"鹿"有你</a>、<a href="../web/demo/accordion.html">手风琴</a></dd>
        <dd>
            <pre>
&lt;template&gt;
    &lt;div&gt;
        &lt;button v-for="(_, tab) in tabs" @click="currentTab = tab" :key="tab"
        :class="['tab-button', { active: currentTab === tab }]"&gt;{{ tab }}&lt;/button&gt;
        &lt;component :is="tabs[currentTab]" class="tab"&gt;&lt;/component&gt;
    &lt;/div&gt;
&lt;/template&gt;
    
&lt;script setup&gt;
import { defineAsyncComponent, ref } from 'vue'

const AsyncHome = defineAsyncComponent(() => import('./components/Home.vue'))
const AsyncInfo = defineAsyncComponent(() => import('./components/Info.vue'))
const AsyncTeam = defineAsyncComponent(() => import('./components/Team.vue'))
const AsyncWork = defineAsyncComponent(() => import('./components/Work.vue'))
   
const currentTab = ref('AsyncHome')
const tabs = {
    AsyncHome,
    AsyncInfo,
    AsyncTeam,
    AsyncWork
}
&lt;/script&gt;</pre>
        </dd>
    </dl>
    <iframe src="../common/footer.html" frameborder="0" scrolling="no" title="footer" id="footer"></iframe>
</body>

</html>