<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>实训 路由综合运用</title>
  <link rel="stylesheet" href="../css/exp.css">
  <base target="_blank">
</head>

<body>
  <header>
  </header>
  <div class="container">
    <h1>路由综合运用</h1>
    <h4>Route</h4>
    <div class="title">实验题目</div>
    <div class="cont">页面导航</div>
    <div class="title">实验目的</div>
    <div class="cont">
      <div>掌握普通路由、命名路由、重定向路由和嵌套路由的基本使用</div>
      <div>掌握单页路由、全站路由的设计与开发</div>
      <div>掌握编程路由和路由守卫的常见应用</div>
      <!-- <div>掌握 <a href="https://router.vuejs.org/zh/api/#Functions-useRoute">路由 useRoute()</a> 的基本使用</div> -->
      <div>路由样式的使用</div>
    </div>
    <div class="title">实验内容</div>
    <div class="cont">
      <div>单页路由</div>
      <div>全站路由</div>
      <div>面包屑导航</div>
    </div>
    <div id="drill"></div>
    <div class="title">参考效果和参考代码</div>
    <div class="cont">
      <div>基本步骤</div>
      <p>.创建项目</p>
      <p>.创建SFC</p>
      <p>.创建路由</p>
      <div>单页路由</div>
      <pre>
routes: [
  {
    path: '/',
    name: 'home',
    component: Home,
    meta: {title: "home"}
  },
  {
    path: '/home',
    redirect: '/',
    meta: {title: "home"}
  },
  {
    path: '/team',
    name: 'team',
    component: () => import('../components/sub_view/Team.vue'),
    meta: {title: "team"}
  },
  {
    path: '/work',
    name: 'work',
    component: () => import('../components/sub_view/Work.vue'),
    meta: {title: "work"}
  },
  {
    path: '/about',
    name: 'about',
    component: () => import('../components/sub_view/About.vue'),
    meta: {title: "about"}
  },
  {
    path: '/:pathMatch(.*)*',
    name: 'NotFound',
    component: () => import('../components/NotFound.vue'),
    meta: {title: "404"}
  }
]</pre>
      <div>全站路由</div>
      <pre>
routes: [
  {
    path: '/',
    name: 'login',
    component: Login,
  },
  {
    path: '/login',
    redirect: '/'
  },
  {
    path: '/home',
    name: 'home',
    component: () => import('../views/Home.vue'),
    children: [
      {
        path: 'user',
        name: 'user',
        component: () => import('../views/User.vue')
      },
      {
        path: 'good',
        name: 'good',
        component: () => import('../views/Good.vue')
      },
      {
        path: 'cart',
        name: 'cart',
        component: () => import('../views/Cart.vue')
      },
      {
        path: 'order',
        name: 'order',
        component: () => import('../views/Order.vue')
      },
      {
        path: 'todo',
        name: 'todo',
        component: () => import('../views/Todo.vue')
      },
      {
        path: 'setup',
        name: 'setup',
        component: () => import('../views/Setup.vue')
      },
      {
        path: 'about',
        name: 'about',
        component: () => import('../views/About.vue')
      }
    ]
  },
  {
    path: '/:pathMatch(.*)*',
    name: 'NotFound',
    component: () => import('../components/NotFound.vue')
  }
]</pre>
      <div>面包屑导航</div>
      <p>.创建组件 Breadcrumb.vue</p>
      <p>.引入路由</p>
      <pre>
import { useRoute } from 'vue-router';
const route = useRoute();</pre>
      <p>.使用路由</p>
      <pre>
&lt;div class="bread"&gt;
&lt;router-link v-for="(item, index) in route.matched" :key="index" :to="item.path"&gt;{{ item.name }}&lt;/router-link&gt;
&lt;/div&gt;</pre>
      <p>.仅仅使用路由信息渲染面包屑</p>
      <pre>
&lt;div class="bread"&gt;
&lt;div v-for="(item, index) in route.matched" :key="index"&gt;{{ item.name }}&lt;/div&gt;
&lt;/div&gt;</pre>
      <p>.样式 - 略</p>
      <p>.使用组件 - 在父组件中使用；略</p>
    </div>
    <div class="title">拓展与思考</div>
    <div class="cont">
      <div>根据需要，使用动态路由、查询路由或传参路由传递参数</div>
    </div>
    <iframe src="../../common/footer.html" frameborder="0" scrolling="no" title="footer" id="footer"></iframe>
    <script src="/utils/custom/drill-vue.js"></script>
    <script src="/utils/custom/star.js"></script>
  </div>
</body>

</html>