<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>实训 响应式综合运用</title>
  <link rel="stylesheet" href="../css/exp.css">
  <link rel="stylesheet" href="../css/footer2025.css">
  <base target="_blank">
</head>

<body>
  <header>
  </header>
  <div class="container">
    <h1>响应式综合运用</h1>
    <h4>Reactivity</h4>
    <div class="title">实验题目</div>
    <div class="cont">
      <div>产品列表页</div>
      <div>产品详情页</div>
    </div>
    <div class="title">实验目的</div>
    <div class="cont">
      <div>掌握类 class 和样式 style 的基本使用</div>
      <div>掌握计算属性 Computed 的基本使用</div>
      <div>掌握条件渲染 v-if 的基本使用</div>
      <div>掌握列表渲染 v-for 的基本使用</div>
      <div>掌握响应式数据 ref()、reactive() 的基本使用</div>
      <div>初步了解路由的使用</div>
      <div>进一步熟悉资源服务器的搭建和使用*</div>
    </div>
    <div class="title">实验内容</div>
    <div class="cont">
      <p>.使用静态数据完成组件的开发和设计</p>
      <div>产品列表页 Goods.vue</div>
      <div>产品详情页 DetailsView.vue；其中甜品 dessert、推荐 recommend 可以先不组件化设计，后续内容学习完再优化为组件；其它部分可以根据情况组件化设计，如轮播图可以设计为组件</div>
      <div>其它设计*</div>
      <p>.定制滚动条 scrollbar</p>
      <p>.阿里字体图标 Iconfont</p>
      <p>.主题切换</p>
      <div>后端*</div>
      <p>.搭建数据服务器；可以使用自己熟悉的服务器环境</p>
      <p>.准备 json 数据；可以使用 <a href="https://glpla.github.io">大树小站</a> 提供的在线资源数据，也可以自己设计数据</p>
      <p>.启动服务，响应用户的数据请求</p>
      <p>.前端：从数据服务器拉取数据并渲染</p>
    </div>
    <div id="drill"></div>
    <div class="title">参考效果和参考代码</div>
    <div class="cont">
      <div>参考数据：<a
          href="/utils/data/coffee.json">https://glpla.github.io/utils/data/coffee.json</a>；其中一个节点信息如下；图片仅给出部分地址；实际使用时，要拼接上服务器地址；如果没有服务器支撑，请使用本地图片或在线图片
      </div>
      <pre>
{
  "id": 0,
  "name": "桂院螺蛳粉",
  "desc": "Lorem ipsum dolor sit, amet consectetur adipisicing elit",
  "img": "/coffee/coffee0.jpg",
  "priceOrignal": 15,
  "price": 12,
  "discount": 0.2,
  "flavour": "辛辣",
  "isFollow": false,
  "stock": 100,
  "cup": [
    { "id": 1, "tag": "中杯", "sel": true },
    { "id": 2, "tag": "大杯", "sel": false },
    { "id": 3, "tag": "超大杯", "sel": false }
  ],
  "ther": [
    { "id": 0, "tag": "热", "sel": false },
    { "id": 1, "tag": "冰", "sel": true }
  ],
  "sugar": [
    { "id": 0, "tag": "半糖", "sel": false },
    { "id": 1, "tag": "标准糖", "sel": false },
    { "id": 2, "tag": "不加糖", "sel": true }
  ],
  "dessert": [
    {
      "id": 1,
      "img": "/dessert/dessert1.png",
      "title": "adipisicing elit",
      "priceOrignal": 5,
      "discount": 0.3
    },
    {
      "id": 2,
      "img": "/dessert/dessert2.png",
      "title": "consectetur elit",
      "priceOrignal": 8,
      "discount": 0.4
    },
    {
      "id": 3,
      "img": "/dessert/dessert3.png",
      "title": "sit amet elit",
      "priceOrignal": 10,
      "discount": 0.5
    }
  ],
  "recommend": [
    {
      "id": 1,
      "img": "/coffee/coffee1.jpg",
      "title": "lorem ipsum dolor",
      "desc": "lorem ipsum dolor sit amet consectetur elit",
      "priceOrignal": 12
    },
    {
      "id": 2,
      "img": "/coffee/coffee2.jpg",
      "title": "lorem ipsum dolor",
      "desc": "lorem ipsum dolor sit amet consectetur adipisicing",
      "priceOrignal": 15
    },
    {
      "id": 3,
      "img": "/coffee/coffee3.jpg",
      "title": "lorem ipsum dolor",
      "desc": "lorem ipsum dolor sit amet adipisicing elit",
      "priceOrignal": 20
    }
  ]
}</pre>
      <div>参考结构</div>
      <pre>
&lt;div class="goods"&gt;
  &lt;template v-if="goods.length"&gt;
    &lt;div class="item" v-for="(item, ind) in goods" :key="item.id"&gt;
      &lt;img class="img" :src="'https://glpla.github.io/utils' + item.img" alt=""&gt;
      &lt;div class="info"&gt;
        &lt;h4 class="title"&gt;{{ item.name }} &lt;span class="flavour"&gt;{{ item.flavour }}&lt;/span&gt; &lt;/h4&gt;
        &lt;div class="desc"&gt;{{ item.desc.repeat(2) }}&lt;/div&gt;
        &lt;div class="price"&gt;&yen;{{ item.price }} &lt;span class="price-inner"&gt;(市场价&lt;span&gt;&yen;{{ item.priceOrignal
              }}&lt;/span&gt;)&lt;/span&gt; &lt;/div&gt;
        &lt;div class="price-discount"&gt;预估到手 &lt;span&gt;&yen;{{ getDiscount(item) }}&lt;/span&gt;&lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="btn" @click="addCart(item)"&gt;
        &lt;span class="iconfont icon-gouwuche_o"&gt;&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/template&gt;
  &lt;div v-else&gt;lists empty&lt;/div&gt;
&lt;/div&gt;</pre>
      <div>参考逻辑 - 数据获取需要服务器支撑</div>
      <pre>
import { computed, onMounted, ref } from 'vue';

const goods = ref([])

const getDiscount = computed(() => {
  return item => {
    return (item.price * (1 - item.discount)).toFixed(2)
  }
})

onMounted(() => {
  let json = fetch('https://glpla.github.io/utils/data/coffee.json')
    .then(response => response.json())
    .then(data => {
      console.log(data.cont);
      goods.value = data.cont
    })
})</pre>
      <div>参考效果</div>
      <figure>
        <img src="./imgs/list0.png" alt="">
        <figcaption>产品列表页 Goods.vue</figcaption>
      </figure>
      <figure>
        <img src="./imgs/list1.jpg" alt="">
        <figcaption>产品详情页 DetailsView.vue</figcaption>
      </figure>
      <figure>
        <img src="./imgs/modal.jpg" alt="">
        <figcaption>消费者权益保护 Guarantee.vue</figcaption>
      </figure>
    </div>
    <div class="title">拓展与思考</div>
    <div class="cont">
      <div>组件化</div>
      <p>.产品组件</p>
      <p>.轮播图</p>
      <div>逻辑优化</div>
      <p>.数据分页</p>
      <p>.触底加载</p>
      <p>.数据加载指示器以及动画</p>
      <div>保存/推送项目到自己的代码仓库</div>
    </div>
    <div class="title">说明</div>
    <div class="cont">
      <p>现场验收、课后提交实验报告</p>
    </div>
    <div id="footer"></div>
  </div>
  <script src="/utils/custom/footer2025.js"></script>
  <script src="/utils/custom/drill-vue.js"></script>
  <script src="/utils/custom/star.js"></script>
</body>

</html>