<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>实操 代办事项</title>
  <link rel="stylesheet" href="../css/exp.css">
</head>

<body>
  <header>
  </header>
  <div class="container">
    <h1>代办事项</h1>
    <h4>Todo</h4>
    <dl class="number-mul-sn">
      <dt>实验目的</dt>
      <dd>
        <div>掌握数据绑定</div>
        <div>掌握事件绑定和常用按键事件、事件修饰符</div>
        <div>掌握网络请求的基本过程</div>
        <div>掌握生命周期函数的使用</div>
        <div>掌握样式类的基本使用</div>
        <div>进一步熟悉条件渲染、列表渲染的使用</div>
        <div>进一步熟悉响应式数据的使用</div>
        <div>了解本地存储 <a href="../web/js/storage.html">localStorage</a></div>
        <div>了解随机ID生成器的使用 <a href="https://github.com/ai/nanoid/blob/main/README.zh-CN.md">Nano ID</a></div>
      </dd>
      <dt>开发环境</dt>
      <dd>
        <div>操作系统 Window 10+</div>
        <div>文本编辑器 Vs Code</div>
        <div>谷歌浏览器 Chrome</div>
        <div>node.js</div>
      </dd>
      <dt>实验内容</dt>
      <dd>
        <div>自动轮播</div>
        <div>输入内容，按alt+enter提交</div>
        <div>提交时，可以选择是否保存在本地</div>
        <div>内容较长时，应打点提示</div>
        <div>可以删除单个列表项目；也可以全部删除</div>
        <div>统计当前列表项总数</div>
        <div>定制滚动条 scroll-bar</div>
        <div>定制字体 @font-face</div>
        <div>阿里字体图标 iconfont</div>
        <div>响应式开发 - 移动优先</div>
      </dd>
      <dt>实验步骤</dt>
      <dd>
        <div>响应式数据</div>
        <pre>
let msgs = ref([])
let msg = ref('')
let isRem = ref(false)
let isFocus = ref(false)
let imgInd = ref(0)
let imgs = []</pre>
        <div>轮播结构设计</div>
        <pre>
&lt;header class="header" :style="{ 'backgroundImage': 'url(' + imgs[imgInd] + ')' }"&gt;
  &lt;div class="dot-box"&gt;
    &lt;div :class="['dot', { 'active': ind == imgInd }]" v-for="(item, ind) in imgs.length " :key="item"&gt;{{ ind }}
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;</pre>
        <div>轮播逻辑 - 加载数据时，利用定时器循环背景图片并相应的调整指示器的样式</div>
        <pre>
onMounted(() => {
  ind = setInterval(() => {
    updateImg()
  }, 3000);
  axios.get('https://glpla.github.io/utils/data/todo.json')
    .then(res => {
      console.log(res);
      msgs.value = res.data.cont
    })
})</pre>
        <div>输入框结构设计</div>
        <pre>
&lt;div class="cont"&gt;
  &lt;input :class="['ipt', { 'border-color': isFocus }]" type="text" v-model.trim="msg"
    placeholder="message here. press ALT+Enter to submit" 
    @keyup.alt.enter="submitMsg" 
    @focus="getFocus"
    @blur="loseFocus"&gt;
&lt;/div&gt;</pre>
        <div>输入框逻辑</div>
        <pre>
const submitMsg = () => {
  if (msg.value) {
    msgs.value.unshift(msg.value)
    msg.value = ''
    isFocus.value = false
  }
}        </pre>
        <div>输入框动态样式 - 充分发挥你的想象</div>
        <pre>
const getFocus = () => {
  isFocus.value = true
}
const loseFocus = () => {
  isFocus.value = false
}</pre>
        <pre>
.ipt.border-color {
  border-color: #942d00;
}
</pre>
        <div>全删按钮结构和动态样式 - 充分发挥你的想象</div>
        <pre>
&lt;div class="subcount"&gt;
  &lt;div&gt;total {{ msgs.length }} messages&lt;/div&gt;
  &lt;button class="del-btn" @click="delAllMsg"&gt;
    &lt;span v-if="msgs.length"&gt;delete&lt;/span&gt;
    &lt;span v-else class="iconfont icon-ban"&gt;&lt;/span&gt;
  &lt;/button&gt;
&lt;/div&gt;
        </pre>
        <div>其它样式的提升和优化</div>
      </dd>
      <dt>参考效果</dt>
      <dd>
        <figure class="img-sn">
          <img src="./imgs/todo0.png" alt="">
          <figcaption>静态效果</figcaption>
        </figure>
      </dd>
      <dd>
        <figure class="img-sn">
          <img src="./imgs/todo1.png" alt="">
          <figcaption>动态效果</figcaption>
        </figure>
      </dd>
      <dd>
        <figure class="img-sn">
          <img src="./imgs/todo2.png" alt="">
          <figcaption>动态效果</figcaption>
        </figure>
      </dd>
      <dt>实验结果分析与体会</dt>
      <dd>
        <div>掌握的知识点、开发技能</div>
        <div>碰到的问题、解决的思路和方法以及未解决的问题</div>
        <div>其它思考</div>
      </dd>
      <dt>实验要求</dt>
      <dd>
        <div>本案例为期中测试</div>
        <div>规范开发；独立完成；突出创新、个人设计特点和风格</div>
        <div>实验报告：采用学院统一下发的格式文件，以文字说明，配以效果图片或核心代码展示并说明数据来源、实施过程、各部分功能、具体内容和实现细节，导出为PDF，按照要求命名，提交个人学习通作业</div>
        <div>未按要求在规定时间内提交视为无效，不得分</div>
      </dd>
    </dl>
    <iframe src="../../common/footer.html" frameborder="0" scrolling="no" title="footer" id="footer"></iframe>
  </div>
</body>

</html>