<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>实训 模态框</title>
  <link rel="stylesheet" href="../css/exp.css">
  <base target="_blank">
</head>

<body>
  <header>
  </header>
  <div class="container">
    <h1>模态框</h1>
    <h4>Modal</h4>
    <dl>
      <dt>实验目的</dt>
      <dd>
        <div>掌握模板引用的使用</div>
        <div>掌握过渡组件的使用</div>
        <div>进一步熟悉侦听的使用</div>
        <div>进一步熟悉组件的创建和使用</div>
        <div>进一步熟悉组件的样式</div>
      </dd>
      <dt>实验内容</dt>
      <dd>
        <div>人机交互时，如前端校验、数据加载等时，给出相应的弹窗提示</div>
        <div>静态模态框的使用 - 无参</div>
        <div>动态模态框的使用 - 带参</div>
        <div>为模态框添加过渡效果</div>
      </dd>
      <dt>开发环境</dt>
      <dd>
        <div>操作系统 Window 10+</div>
        <div>文本编辑器 Vs Code</div>
        <div>谷歌浏览器 Chrome</div>
        <div>服务器端 Node.js</div>
      </dd>
      <dt>需求分析</dt>
      <dd>
        <div>视口右上角显示</div>
        <div>出现3秒后消失</div>
        <div>根据不同的情况，显示不同的提示</div>
        <div>出现和消失使用淡入淡出的过渡效果</div>
        <div>可以手动关闭</div>
      </dd>
      <dt>实验步骤</dt>
      <dd>第一阶段 静态模态框</dd>
      <dd>
        <div>模态框组件 - 创建模态框组件 Tips.vue - 在视口右上角展示一条静态数据；利用属性 flag 控制模态框的显示和隐藏</div>
        <pre>
&lt;script setup&gt;
const props = defineProps({ tips: String })
&lt;/script&gt;

&lt;template&gt;
  &lt;div class="tips" v-if="flag"&gt;hi, there.&lt;/div&gt;
&lt;/template&gt;

&lt;style scoped&gt;
.tips {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #fff;
  padding: 4px 20px;
  font-size: 12px;
  color: #fff;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99;
}
&lt;/style&gt;</pre>
        <div>父组件 - 引入模态框组件</div>
        <pre>import Tips from './components/Tips.vue';</pre>
        <p>. 使用响应式数据 isOpenModal 控制其显示和隐藏：真，则显示，否则关闭</p>
        <pre>let isOpenModal = ref(false)</pre>
        <p>. 使用侦听</p>
        <pre>
watch(isModalOpen, (newval, oldval) => {
    if (newval) {
        setTimeout(() => {
        isModalOpen.value = false
        }, 3000);
    }
})</pre>
        <p>. 使用延时</p>
        <pre>
const OpenModal = () => {
  isOpenModal.value = true
  setTimeout(() => {
    isOpenModal.value = false;
  }, 3000);
}
</pre>
        <p>. 使用鼠标单击事件 - 略</p>
        <p>. 结构使用</p>
        <pre>
&lt;template&gt;
  &lt;Tips :flag="isOpenModal"&gt;&lt;/Tips&gt;
  &lt;button @click="OpenModal"&gt;click to open modal&lt;/button&gt;
&lt;/template&gt;</pre>
        <figure class="img-sn">
          <img src="./imgs/modal1.png" alt="">
          <figcaption>默认隐藏模态框</figcaption>
        </figure>
        <figure class="img-sn">
          <img src="./imgs/modal0.png" alt="">
          <figcaption>单击显示模态框</figcaption>
        </figure>
        <figure class="img-sn">
          <img src="./imgs/modal1.png" alt="">
          <figcaption>3秒后自动隐藏模态框</figcaption>
        </figure>
      </dd>
      <dd>第二阶段 传递参数</dd>
      <dd>根据不同的情况传递不同的提示信息</dd>
      <dd>
        <div>模态框组件 - 增加一个属性 tips，取代静态文本；也可以增加一个普通属性，通过暴露接口 defineExpose 暴露出去给父组件使用</div>
        <pre>const props = defineProps({ tips: String, flag: Boolean })</pre>
        <!-- <pre>
import { ref } from 'vue';
let tips = ref('')
defineExpose({ tips })</pre> -->
        <pre>&lt;div class="tips" v-if="flag"&gt;{{ tips }}&lt;/div&gt;</pre>
        <div>父组件 - 声明数据并传递；同时在打开方法中传递；方便起见，封装为函数 showTips</div>
        <pre>
let tips = ref('')
const OpenModal = () => {
  showTips('msg here')
}

const showTips = (msg) => {
  isOpenModal.value = true;
  tips.value = msg;
  setTimeout(() => {
    isOpenModal.value = false;
  }, 3000);
}</pre>
        <pre>&lt;Tips :flag="isOpenModal" :tips="tips"&gt;&lt;/Tips&gt;</pre>
      </dd>
      <dd>第三阶段 过渡模态框</dd>
      <dd>
        <div>使用过渡组件包裹模态框 <span class="warn">根元素</span> 并指定 name 为 modal-fade，添加淡入淡出过渡效果</div>
        <p>过渡、延时等既可以在父组件中使用过，也可以在模态框组件使用；在哪里使用要结合每个组件的具体情况；如果其中一个组件也用到了类似的设计，那么就应该在该组件中使用，避免重复设计</p>
        <pre>
  &lt;transition name="modal-fade"&gt;
    //
  &lt;/transition&gt;</pre>
        <pre>
.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.3s ease;
}

.modal-fade-enter-from,
.modal-fade-leave-to {
  opacity: 0;
}</pre>
      </dd>
      <dd>第四阶段 改进模态框</dd>
      <dd>
        <div>使用特定的字体图标，增加用户体验，如感叹号、警告等</div>
        <div>手动关闭 - 增加关闭按钮，单击时，关闭模态框；关闭按钮定位在模态框右上角；通过 defineEmits 触发自定义事件实现</div>
        <!-- <p>子组件暴露自定义事件</p>
        <pre>
const emits = defineEmits(['emitClose'])
const closeModal = () => {
  emits('emitClose')
}</pre>
        <p>父组件 - 响应模态框的自定义事件</p>
        <pre>&lt;Tips v-if="isOpenModal" @emit-close="closeModal"&gt;&lt;/Tips&gt;</pre>
        <pre>
const closeModal = () => {
  isOpenModal.value = false
}        </pre>
        <figure class="img-sn">
          <img src="./imgs/modal2.png" alt="">
          <figcaption>带关闭按钮的模态框</figcaption>
        </figure> -->
        <div>增加动态标题 title，如针对密码修改、图片上传等场景的提示</div>
        <div>指定位置 position：水平垂直居中、左上角、右上角、底部居中、顶部居中等 - 略</div>
        <div>其它设计</div>
      </dd>
      <dt>实验结果分析与体会</dt>
      <dd>
        <div>掌握的知识点、开发技能</div>
        <div>碰到的问题、解决的思路和方法以及未解决的问题</div>
        <div>其它思考</div>
      </dd>
      <dt>实验要求</dt>
      <dd>
        <iframe src="../common/drill.html" frameborder="0" scrolling="no" title="footer" id="drill"
          onload="this.height=this.contentWindow.document.documentElement.scrollHeight;"></iframe>
      </dd>
      <dt>拓展与思考</dt>
      <dd>
        <div>手动关闭模态框</div>
        <div>多次互不冲突的触发模态框依次显示</div>
        <div>侦听仓库的加载</div>
        <!-- <pre>
watch(() => goodStore.isLoading, (newVal, oldVal) => {
  console.log(newVal);
  if (newVal) {
    msg.value = '正在加载中...'
  } else {
    msg.value = '加载完成'
  }
  show.value = true;
})</pre> -->
      </dd>
    </dl>
    <iframe src="../../common/footer.html" frameborder="0" scrolling="no" title="footer" id="footer"></iframe>
  </div>
</body>

</html>