<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>状态管理应用 Pinia</title>
  <link rel="stylesheet" href="../css/common.css">

  <base target="_blank">
  <style>
    header {
      background-image:
        url(./imgs/pinia.svg),
        linear-gradient(var(--main-color), var(--warn-color));
      background-repeat: no-repeat;
      background-size: 10vh, 100%;
      background-position: right 90px bottom -10px, 0 0;
    }
  </style>
</head>

<body>
  <header>
    <h1>状态管理应用</h1>
    <span>&commat; Pinia</span>
  </header>
  <dl>
    <dd>一切皆仓库</dd>
    <dt>远程应用</dt>
    <dd>[<span class="iconfont icon-keyboard"></span>] <a href="./drill_pinia.html">商品仓库</a></dd>
    <dd class="sn">
      <div>所有商品 goods</div>
      <div>单个商品 good</div>
      <div>获取所有商品 getGoods()</div>
      <div>根据 id 获取所有商品 getGoodById(id)</div>
      <div>其它</div>
      <p>. 分页获取</p>
      <p>. 加载指示</p>
    </dd>
    <dd>[<span class="iconfont icon-keyboard"></span>] <a href="./drill_pinia.html">购物车仓库</a></dd>
    <dd class="sn">
      <div>购物车 carts</div>
      <div>拉取/保存购物车 getCarts()</div>
      <div>添加到购物车 addToCarts(id)</div>
      <div>从购物车移除 deleteFromToCarts(id)</div>
      <div>清空购物车 clearCarts()</div>
      <div>总价 getTotalPrice/reduce() - 后期由 <a href="./watch.html">监听</a> 实现</div>
    </dd>
    <dd>[<span class="iconfont icon-keyboard"></span>] 点赞仓库 - 多组件共享</dd>
    <dd>
      <div>创建任意仓库，并创建一个状态 num</div>
      <div>组件A中引入并使用；采用简单模板语法 {{num}}</div>
      <div>组件B中引入并使用；采用双向绑定 v-mode</div>
      <div>入口组件中引入并使用组件A、组件B，查看双向绑定时状态的共享变化</div>
    </dd>
    <dd>[<span class="iconfont icon-keyboard"></span>]用户状态</dd>
    <dd>[<span class="iconfont icon-keyboard"></span>]访问量统计仓库</dd>
    <dd>[<span class="iconfont icon-keyboard"></span>]位置仓库</dd>
    <dt>本地应用</dt>
    <dd>[<span class="iconfont icon-keyboard"></span>] <a href="./drill_pinia.html">标签页仓库</a></dd>
    <dd>
      <div>导航时，添加标签页；便于快速打开历史页面/视图</div>
      <div>多见于后台管理系统</div>
      <div>思路同购物车：如果没有，则添加；否则激活</div>
    </dd>
    <dd>[<span class="iconfont icon-keyboard"></span>] <a href="./drill_router.html">页面导航仓库</a></dd>
    <dd class="sn">
      <div>创建仓库 - 商品 goods、状态 isLoading、请求 fetchGoods</div>
      <div>请求商品数据 - 分别使用 fetch 和 axios</div>
      <div>请求中，给出提示；请求结束，渲染数据</div>
      <div>使用条件渲染追踪过程</div>
      <pre>
import { defineStore } from 'pinia'
import { ref, computed } from 'vue'
export const useGoodStore = defineStore('good', () => {
  const goods = ref([])
  const isLoading = ref(false)
  const fetchGoods = async () => {
    isLoading.value = true
    let res = await fetch('http://127.0.0.1:3000/goods')
    let data = await res.json()
    goods.value = data
    isLoading.value = false
  }
  return { goods, isLoading, fetchGoods, }
})</pre>
      <pre>
import { onMounted } from 'vue';
import { useGoodStore } from '@/stores/good';
const store = useGoodStore();
onMounted(() => {
  store.fetchGoods();
})</pre>
      <pre>
&lt;div v-if="store.isLoading"&gt;    loading    &lt;/div&gt;
&lt;div v-else&gt;
    //
&lt;/div&gt;</pre>
    </dd>
    <dd>[<span class="iconfont icon-keyboard"></span>] <a href="./drill_modal.html">模态框仓库</a></dd>
    <dd>
      <div>侦听仓库变化显示提示信息</div>
      <div>商品仓库和购物车仓库都有数据加载。可以通过侦听仓库的 isLoading 给前端相应的提示</div>
      <div>msg 可以提供给模态框使用</div>
      <pre>
watch(() => goodStore.isLoading, (newVal, oldVal) => {
    if (newVal) {
        msg.value = '正在加载中...'
    } else {
        msg.value = '加载完成'
    }
    show.value = true;
})</pre>
    </dd>
    <dd>[<span class="iconfont icon-keyboard"></span>] <a href="./drill_ham.html">汉堡菜单仓库</a></dd>
    <dd>
      <div>项目从桌面端切换到移动端时，菜单折叠，由汉堡按钮控制折叠和展开；单击菜单项时，折叠菜单</div>
      <div>1. 创建仓库 - 仓库参考代码 menu.js</div>
      <pre>
import { ref } from 'vue'
import { defineStore } from 'pinia'

export const useMenuStore = defineStore('menu', () => {
  const flag = ref(false)
  const switchFlag = () => {
    flag.value ? flag.value = false : flag.value = true
  }

  return { flag, switchFlag }
})</pre>
      <div>2. 在使用仓库的组件结构中，引入仓库，通过汉堡按钮的单击，由标记 flag 控制动态类的应用，达到菜单的折叠和展开</div>
      <div>改进：单击菜单项，折叠菜单</div>
      <div>提示：在路由配置中，引入仓库，在导航前置守卫中实例化仓库并切换标记switchFlag；请查看 <a href="./route_guard.html">路由 - 导航守卫</a></div>
    </dd>
    <dd>[<span class="iconfont icon-keyboard"></span>]主题切换仓库</dd>
    <dd class="sn">
      <p>主题切换/换肤/日夜模式</p>
      <p>通过为 html 指定自定义属性实现 CSS 变量的更新达到切换效果</p>
      <div>主题样式 - 这里仅给出需要变化的 CSS 变量，其它变量可以在额外的 :root 单独定义</div>
      <pre>
:root {
    --txt-color: #303133;
    --bg-color: #f1f1f1;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

// 类形式
.data-theme {
    --txt-color: #f1f1f1;
    --bg-color: #131313;
    --shadow-color: rgba(255, 255, 255, 0.1);
}

// 属性形式
[data-theme="dark"] {
    --txt-color: #f1f1f1;
    --bg-color: #131313;
    --shadow-color: rgba(255, 255, 255, 0.1);
}</pre>
      <div>主题仓库</div>
      <pre>
import { defineStore } from 'pinia'
import { ref, onMounted } from 'vue'
export const useThemeStore = defineStore('theme', () => {

  const isDarkMode = ref(false);

  const toggleDarkMode = () => {
    isDarkMode.value = !isDarkMode.value;
    document.documentElement.setAttribute('data-theme', isDarkMode.value ? 'dark' : 'light');
  };

  return { isDarkMode, toggleDarkMode }
})</pre>
      <div>在SFC中引入仓库，并使用相应的图标展示暗黑和白天，最后绑定主题切换事件</div>
      <pre>
import { useThemeStore } from '@/stores/theme';
const themeStore = useThemeStore();</pre>
      <pre>
&lt;div class="theme-icon" @click="themeStore.toggleDarkMode"&gt;
    &lt;span v-if="themeStore.isDarkMode" class="iconfont icon-night-mode-fill"&gt;&lt;/span&gt;
    &lt;span v-else class="iconfont icon-daytime-mode-fill"&gt;&lt;/span&gt;
&lt;/div&gt;</pre>
    </dd>
  </dl>
  <div id="footer"></div>
  <script src="/utils/custom/footer.js"></script>
</body>

</html>