<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单双向绑定 v-model</title>
    <link rel="stylesheet" href="../css/reset2024.css">
    <link rel="stylesheet" href="../css/common2024.css">
    <link rel="stylesheet" href="../css/code.css">
    <link rel="stylesheet" href="../css/sn.css">
    <base target="_blank">
</head>

<body>
    <header>
        <h1>表单双向绑定</h1>
        <span>v-model</span>
    </header>
    <dl>
        <dd>表单基础知识，请访问<a href="../web/form.html" class="link">web - form</a></dd>
        <dt>v-modal</dt>
        <dd>v-bind:是单向数据绑定：逻辑层数据流向渲染层</dd>
        <dd>数据双向绑定 - 多用于表单</dd>
        <dd>将表单输入框的内容同步给 JavaScript 中的数据：数据可以影响到表单；表单也可以影响到数据</dd>
        <dd>数据可以是数值类型number，也可以是字符串类型string，还可以是布尔类型true/false</dd>
        <dd>绑定后会忽略任何表单元素上初始的 value、checked 或 selected attribute</dd>
        <dt>常用事件</dt>
        <dd>1. input：输入过程中触发</dd>
        <dd>2. change：状态改变后触发；如从选中状态变为取消选中状态；根据改变后的状态，执行相应的逻辑</dd>
        <dd>
            <table class="tbl-sn">
                <tr>
                    <th>元素</th>
                    <th>绑定属性</th>
                    <th>事件类型</th>
                </tr>
                <tr>
                    <td>&lt;input&gt; - text</td>
                    <td>value 属性</td>
                    <td>input 事件</td>
                </tr>
                <tr>
                    <td>&lt;textarea&gt;</td>
                    <td>value 属性</td>
                    <td>input 事件</td>
                </tr>
                <tr>
                    <td>&lt;input&gt; - radio</td>
                    <td>checked 属性</td>
                    <td>change 事件</td>
                </tr>
                <tr>
                    <td>&lt;input&gt; - checkbox</td>
                    <td>checked 属性</td>
                    <td>change 事件</td>
                </tr>
                <tr>
                    <td>&lt;select&gt;</td>
                    <td>value 属性</td>
                    <td>change 事件</td>
                </tr>
            </table>
        </dd>
        <dd>3. submit：表单提交；通常会阻止该行为的默认跳转</dd>
        <dd class="tips">
            <div>在事件对象的事件目标中获取值 e.target.value或选择状态 e.target.checked、e.target.selected</div>
            <div>也可以在结构中使用事件专有变量$event获取 $event.target.selected - 仅限Vue环境</div>
        </dd>
    </dl>
    <div class="chap">常见表单元素的双向绑定</div>
    <dl>
        <dt>&lt;input&gt; - text</dt>
        <dd>单行文本输入</dd>
        <dd class="code">
            <pre>let msg = ref('')</pre>
        <dd>
        <dd>传统方式 - 通过事件和属性绑定实现双向绑定；这里采用内联事件|行内事件</dd>
        <dd class="code">
            <pre>
&lt;input type="text" @input="msg = $event.target.value" :value="msg" required&gt;
&lt;input type="text" @input="(e) => { msg = e.target.value }" :value="msg" required&gt;
&lt;div&gt;{{ msg }}&lt;/div&gt;</pre>
        </dd>
        <dd>双向绑定</dd>
        <dd class="code">
            <pre>
&lt;input type="text" v-model="msg" required&gt;
&lt;div&gt;{{ msg }}&lt;/div&gt;</pre>
        </dd>
        <dt>&lt;textarea&gt;</dt>
        <dd>留言、评论</dd>
        <dd class="code">
            <pre>let msg = ref('')</pre>
        </dd>
        <dd>传统方式 - 通过事件和属性绑定实现双向绑定；这里采用内联事件|行内事件</dd>
        <dd class="code">
            <pre>
&lt;textarea @input="(e) => { msg = e.target.value }" :value="msg" required&gt;&lt;/textarea&gt;
&lt;div&gt;{{msg}}&lt;/div&gt;
</pre>
        </dd>
        <dd>双向绑定</dd>
        <dd class="code">
            <pre>
&lt;textarea v-model="msg" required&gt;&lt;/textarea&gt;
&lt;div"&gt;{{msg}}&lt;/div&gt;
</pre>
        </dd>
        <dd>不可以使用插值表达式{{}}</dd>
        <dd class="code">
            <pre>&lt;textarea v-model="msg" required&gt;{{msg}}&lt;/textarea&gt;</pre>
        </dd>
        <dd class="tips">text类型的&lt;input&gt;和&lt;textarea&gt;绑定的是 value 属性 并侦听 input 事件</dd>
        <dt>&lt;input&gt; - radio</dt>
        <dd>单选；多选一</dd>
        <dd>不指定value的话，只能获取单选框的选中状态是否为on</dd>
        <dd>值为静态数据male、female</dd>
        <dd class="code">
            <pre>let gender = ref('')</pre>
        </dd>
        <dd>传统方式</dd>
        <dd class="code">
            <pre>
&lt;input type="radio" name="gender" value="male" @change="(e) => gender = e.target.value"&gt;male
&lt;input type="radio" name="gender" value="female" @change="(e) => gender = e.target.value"&gt;female
&lt;div&gt;{{ gender }}&lt;/div&gt;</pre>
        </dd>
        <dd>双向绑定 - 选项都绑定gender</dd>
        <dd class="code">
            <pre>
&lt;input type="radio" name="gender" value="male" v-model="gender"&gt;male
&lt;input type="radio" name="gender" value="female" v-model="gender"&gt;female
&lt;div&gt;{{ gender }}&lt;/div&gt;</pre>
        </dd>
        <dt>&lt;input&gt; - checkbox</dt>
        <dd>多选</dd>
        <dd>一般情况下，需要指定value，否则只能获取复选框的选中状态是否为on</dd>
        <dd>值为静态数据：code、sing、game、read</dd>
        <dd>like是数组类型，不能是字符串</dd>
        <dd class="code">
            <pre>let like = ref([])</pre>
        </dd>
        <dd>传统方式</dd>
        <dd class="code">
            <pre>
&lt;input type="checkbox" name="ulike" @change="sel" value="code"&gt;code
&lt;input type="checkbox" name="ulike" @change="sel" value="sing"&gt;sing
&lt;input type="checkbox" name="ulike" @change="sel" value="game"&gt;game
&lt;input type="checkbox" name="ulike" @change="sel" value="read"&gt;read
&lt;div&gt;{{ like }}&lt;/div&gt;</pre>
        </dd>
        <dd class="code">
            <pre>
const sel = (e) => {
    e.target.checked ? like.value.push(e.target.value) : like.value = like.value.filter(item => item !== e.target.value)
}</pre>
        </dd>
        <dd>双向绑定 - 选项都绑定like</dd>
        <dd class="code">
            <pre>
&lt;input type="checkbox" name="ulike" v-model="like" value="code"&gt;code
&lt;input type="checkbox" name="ulike" v-model="like" value="sing"&gt;sing
&lt;input type="checkbox" name="ulike" v-model="like" value="game"&gt;game
&lt;input type="checkbox" name="ulike" v-model="like" value="read"&gt;read
&lt;div&gt;{{ like }}&lt;/div&gt;</pre>
        </dd>
        <dd class="tips">&lt;radio类型的input&gt;和checkbox类型的&lt;input&gt;绑定的是 checked 属性 并侦听 change 事件</dd>
        <dd>使用须知、记住密码 - 使用单个复选框实现；不需要指定value，需要的只是是否选中</dd>
        <dd class="code">
            <pre>
&lt;label&gt;&lt;input type="checkbox" v-model="isAgree"&gt;已阅读并同意服务条款&lt;/label&gt;</pre>
        </dd>
        <dd class="code">
            <pre>let isAgree = ref(false)</pre>
        </dd>
        <dt>&lt;select&gt;</dt>
        <dd>下拉列表；下拉框；值为静态数据123</dd>
        <dd class="question">请自行完成传统方式的双向绑定</dd>
        <!-- <select @change="(e) => like = e.target.value">
            <option value='1'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
        </select>
        <div>{{ like }}</div> -->
        <dd class="code">
            <pre>
&lt;select v-model = 'sel'&gt;
    &lt;option value='1'&gt;1&lt;/option&gt;
    &lt;option value='2'&gt;2&lt;/option&gt;
    &lt;option value='3'&gt;3&lt;/option&gt;
&lt;/select&gt;
&lt;div&gt;{{sel}}&lt;/div&gt;</pre>
        </dd>
        <dd class="tips">&lt;select&gt;绑定的是 value 属性 并侦听 change 事件</dd>
    </dl>
    <div class="chap">值的绑定</div>
    <dl>
        <dd>通常情况下，绑定时，当状态变化时，对应不同的的静态值，如男、女</dd>
        <dd>有时候，我们希望使用动态数据，以满足更多场景，如在列表渲染中动态指定值：使用v-bind绑定实现</dd>
        <dd>同一份逻辑，既可以实现性别的选择，也可以实现其它两个状态的应用，如：是否在岗？是否婚配？是否成年？给什么数据，就绑定什么数据 - 响应式数据；</dd>
        <dd>采用值绑定，可以拓展逻辑；如性别单选中，非男即女，是对立的两个状态；绑定后，响应式数据可以任意指定，甚至可以是完全不相关的场合</dd>
        <dd>多用于单选、多选和下拉列表</dd>
        <dt>&lt;input&gt; - radio</dt>
        <dd class="code">
            <pre>
&lt;input type="radio" id="male" v-model="ugender" :value="maleVal"&gt;
&lt;label for="male"&gt;male&lt;/label&gt;
&lt;input type="radio" id="female" v-model="ugender" :value="femaleVal"&gt;
&lt;label for="female"&gt;female&lt;/label&gt;</pre>
        </dd>
        <dd>为两个状态指定响应式数据，可以是任何值，而不是简单的静态male和female</dd>
        <dd class="code">
            <pre>
let ugender = ref('')
let maleVal = reactive({
    id: 10,
    name: 'gl'
})
let femaleVal = reactive({
    id: 20,
    name: 'gz'
})</pre>
        </dd>
        <dt>&lt;input&gt; - checkbox</dt>
        <dd>参照前例，修改静态值为动态绑定；内容自定</dd>
        <dd>提示：列表渲染</dd>
        <dt>&lt;select&gt;</dt>
        <dd>参照前例，修改静态值为动态绑定；内容自定</dd>
        <dd>提示：列表渲染</dd>
        <dd class="tips">
            <div>实现绑定后，后续的逻辑仍然需要事件的支持，如change后根据状态变化执行相应的逻辑</div>
            <div>双向绑定引发的性能问题</div>
        </dd>
    </dl>
    <div class="chap">修饰符</div>
    <dl>
        <dt>.number</dt>
        <dd>把 v-model 的值转换成数值类型</dd>
        <dd>如果输入的第一个字是字符串，那number这个修饰符就不会生效</dd>
        <dd>输入的第一个只能是数字或者小数点或者是正负号</dd>
        <dd>既然需要转换为数字，那么就请输入数字吧</dd>
        <dt>.lazy</dt>
        <dd>在默认情况下，v-model 在input事件中同步输入框的值与数据，实时渲染</dd>
        <dd>指定lazy，会把 oninput 事件改成 onchange 事件</dd>
        <dd>当失去焦点或按下回车时才触发更新</dd>
        <dt>.trim</dt>
        <dd>过滤用户输入时首尾的空格字符</dd>
    </dl>
    <div class="chap">综合案例</div>
    <dl>
        <dd class="example-sn">代办事项 Todo</dd>
        <dd>详细实现，请参考<a href="../web/demo/todo.html" class="link">留言板</a>、<a href="./drill_todo.html"
                class="link">代办事项</a></dd>
        <dd class="example-sn">注册和登录</dd>
        <dd>传统方式：用户名和密码、手机</dd>
        <dd>现在方式：第三方</dd>
        <dd>详细实现，请参考<a href="./pro_reg_log.html" class="link">注册和登录</a></dd>
        <dd class="example-sn">购物车 - 全选</dd>
        <dd>思路：状态改变时，检查选中数据和原始数据是否一致 - 可通过长度判断</dd>
        <dd>详细实现，请参考<a href="./drill_cart.html" class="link">购物车 Cart</a></dd>
    </dl>
    <iframe src="../common/footer.html" frameborder="0" scrolling="no" title="footer" id="footer"></iframe>
</body>

</html>