<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>积分榜 Rank</title>
  <link rel="stylesheet" href="./css/rank.css">
</head>

<body>
  <div class="container" id="app">
    <nav>
      <div class="logo">
        <span class='iconfont icon-line-medalxunzhang-02 logo-icon'></span>
        <span class="logo-title">积分榜<span class='iconfont icon-line-medalxunzhang-02'></span></span>
      </div>
      <div class="nav" v-for="(item, index) in navs" :key="item,uear">
        <div class="nav-item" :class="{'active':ind==item.ind}">{{item.title}}</div>
        <div class="sub-nav">
          <div class="sub-nav-item" :class="{'active':subind==subitem.subind && ind==item.ind}"
            v-for="(subitem, subindex) in item.cont" :key="subitem.url" @click="getData(subitem.url, $event)"
            :data-ind="item.ind" :data-subind="subindex"> {{subitem.desc}} </div>
        </div>
      </div>
    </nav>
    <div class="main">
      <div class="item" v-for="(item,ind) in rank.cont" :key="item">
        <div>{{item.usn}}</div>
        <img class='img' :src="`/utils${item.uavatar}`" alt="avatar">
        <span class='name'>{{item.uname}}</span>
        <div><span class='iconfont icon-star' v-for="star in item.ucredit"></span></div>
      </div>
    </div>
    <footer>
      <h5>All Rights Reserved &copy; By Cnplaman 2022-2025</h5>
    </footer>
  </div>
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script> -->
  <script src="/utils/lib/vue.global.prod.min.js"></script>
  <script>
    const { createApp, ref, computed, onMounted, watch } = Vue
    createApp({
      setup() {
        const navs = ref([{
          ind: 0,
          title: '2024秋季',
          cont: [
            {
              subind: 0,
              desc: '2023软工1班',
              url: '20240201.json',
            },
            {
              subind: 1,
              desc: '2023软工3班',
              url: '20240202.json',
            },
            {
              subind: 2,
              desc: '2023数媒1班',
              url: '20240203.json',
            },
            {
              subind: 3,
              desc: '2023数媒2班',
              url: '20240204.json',
            },
            {
              subind: 4,
              desc: '2023数媒3班',
              url: '20240205.json',
            },
          ]
        },
        {
          ind: 1,
          title: '2024春季',
          cont: [
            {
              subind: 0,
              desc: '2022软工1班',
              url: '202401.json',
            },
            {
              desc: '2022数媒1班',
              url: '202402.json',
              subind: 1,
            },
          ]
        },
        {
          ind: 2,
          title: '2023秋季',
          cont: [
            {
              subind: 0,
              desc: '2022软工1班',
              url: '202301.json',
            },
            {
              subind: 1,
              desc: '2023经济和语言1班',
              url: '202302.json',
            },
            {
              subind: 2,
              desc: '2023服装1班',
              url: '202303.json',
            },
            {
              subind: 3,
              desc: '2023播音网络1班',
              url: '202304.json',
            }
          ]
        }
        ])
        const ind = ref(null)
        const subind = ref(null)
        const rank = ref([]);
        const subNav = ref([])
        const getData = (url, $event) => {
          fetch(`/utils/data/rank/${url}`)
            .then(res => res.json())
            .then(res => {
              rank.value = res;
              ind.value = $event.target.dataset.ind;
              subind.value = $event.target.dataset.subind;
              console.log(subNav.value);

              subNav.value.forEach(item => {
                console.log(item);
                item.classList.remove('active');
              });
            })
        }

        onMounted(() => {
          console.log(ind.value, subind.value, subNav.value);
        })

        return {
          navs,
          ind,
          subind,
          rank,
          subNav,
          getData,
        }
      }
    }).mount('#app')
  </script>
</body>

</html>